In [1]:
import pandas as pd

# Countries:

In [2]:
countries = pd.read_csv('../raw_data/countries_codes_and_coordinates.csv', encoding = 'unicode_escape')
countries.head()

          Country Alpha_2_code Alpha_3_code
0     Afghanistan           AF          AFG
1         Albania           AL          ALB
2         Algeria           DZ          DZA
3  American Samoa           AS          ASM
4         Andorra           AD          AND

In [3]:
countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       244 non-null    object
 1   Alpha_2_code  243 non-null    object
 2   Alpha_3_code  244 non-null    object
dtypes: object(3)
memory usage: 5.8+ KB

In [4]:
countries[countries['Alpha_2_code'].isnull()==True]

     Country Alpha_2_code Alpha_3_code
150  Namibia          NaN          NAM

# 1. Electricity Consumption

In [55]:
consumption = pd.read_csv('../raw_data/ElecConsumption.csv', encoding = 'unicode_escape')
consumption.drop('siec', axis=1, inplace=True)
consumption.head()

,freq,nrg_bal,unit,Alpha_2_code,1990,1991,1992,1993,1994,1995,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,A,AFC,GWH,AL,1780000,1341000,1444000,1697000,1875000,2084000,...,6407000,6137000,7325000,6656000.0,6015000.0,5674000.0,6136388.0,6480824.0,6530243,6656144
1,A,AFC,GWH,AT,43577000,45767000,45281000,45903000,46538000,47651000,...,62230662,63165761,63509236,62563846.0,63553966.0,64527283.0,65569869.0,65855941.0,66027931,63577133
2,A,AFC,GWH,BA,:,:,:,:,:,:,...,:,:,:,11877000.0,11924000.0,11494000.0,11785000.0,11820000.0,11301000,10240000
3,A,AFC,GWH,BE,59108000,61783000,63871000,64644000,67822000,69829000,...,84064300,84020100,84231800,82087900.0,83102000.0,83228100.0,83809800.0,84263000.0,83306400,80871400
4,A,AFC,GWH,BG,36484000,31230000,27575000,27890000,27875000,30746000,...,29589000,29148000,28629000,28940000.0,29639000.0,30257000.0,31445466.0,31389986.0,31119715,30511049

In [56]:
consumption['unit'].value_counts()

GWH    2322
Name: unit, dtype: int64

## EU Countries:

In [7]:
EU_countries = pd.DataFrame.from_dict([{'Belgium': 'BE', 'Bulgaria': 'BG', 'Czechia': 'CZ', 'Denmark': 'DK', 'Germany': 'DE', 'Estonia': 'EE', 'Ireland': 'IE', 'Greece': 'EL',
                'Spain': 'ES', 'France': 'FR', 'Croatia': 'HR', 'Italy': 'IT', 'Cyprus': 'CY', 'Latvia': 'LV', 'Lithuania': 'LT', 'Luxembourg': 'LU', 
                'Hungary': 'HU', 'Malta': 'MT', 'Netherlands': 'NL', 'Austria': 'AT', 'Poland': 'PL', 'Portugal': 'PT', 'Romania': 'RO', 'Slovenia': 'SI',
                'Slovakia': 'SK', 'Finland': 'FI', 'Sweden': 'SE'}])
EU_countries = EU_countries.T.reset_index()
EU_countries.rename(columns={'index': 'EU_country', 0: 'Alpha_2_code'}, inplace=True)
EU_countries

     EU_country Alpha_2_code
0       Belgium           BE
1      Bulgaria           BG
2       Czechia           CZ
3       Denmark           DK
4       Germany           DE
5       Estonia           EE
6       Ireland           IE
7        Greece           EL
8         Spain           ES
9        France           FR
10      Croatia           HR
11        Italy           IT
12       Cyprus           CY
13       Latvia           LV
14    Lithuania           LT
15   Luxembourg           LU
16      Hungary           HU
17        Malta           MT
18  Netherlands           NL
19      Austria           AT
20       Poland           PL
21     Portugal           PT
22      Romania           RO
23     Slovenia           SI
24     Slovakia           SK
25      Finland           FI
26       Sweden           SE

## Energy Balance:

In [8]:
energy_balance = pd.read_csv('../raw_data/Energy_Balance.csv', sep=':', encoding = 'unicode_escape' )
energy_balance.head()

                                      energy_balance      nrg_bal
0                                            Imports          IMP
1                                            Exports          EXP
2                                       Inlanddemand           ID
3  Transformationinput-electricityandheatgenerati...  TI_EHG_EDHP
4  Transformationinput-electricityandheatgenerati...    TI_EHG_EB

In [9]:
energy_balance.columns

Index(['energy_balance', 'nrg_bal'], dtype='object')

In [10]:
consumption = consumption.merge(energy_balance, on='nrg_bal', how='left')
consumption

,freq,nrg_bal,siec,unit,Alpha_2_code,1990,1991,1992,1993,1994,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,energy_balance
0,A,AFC,E7000,GWH,AL,1780000,1341000,1444000,1697000,1875000,...,6137000,7325000,6656000.0,6015000.0,5674000.0,6136388.0,6480824.0,6530243,6656144,Availableforfinalconsumption
1,A,AFC,E7000,GWH,AT,43577000,45767000,45281000,45903000,46538000,...,63165761,63509236,62563846.0,63553966.0,64527283.0,65569869.0,65855941.0,66027931,63577133,Availableforfinalconsumption
2,A,AFC,E7000,GWH,BA,:,:,:,:,:,...,:,:,11877000.0,11924000.0,11494000.0,11785000.0,11820000.0,11301000,10240000,Availableforfinalconsumption
3,A,AFC,E7000,GWH,BE,59108000,61783000,63871000,64644000,67822000,...,84020100,84231800,82087900.0,83102000.0,83228100.0,83809800.0,84263000.0,83306400,80871400,Availableforfinalconsumption
4,A,AFC,E7000,GWH,BG,36484000,31230000,27575000,27890000,27875000,...,29148000,28629000,28940000.0,29639000.0,30257000.0,31445466.0,31389986.0,31119715,30511049,Availableforfinalconsumption
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2317,A,TI_EHG_EPS_PURE,E7000,GWH,SK,1158000,540000,533000,539000,348000,...,357000,452000,343000.0,409000.0,334000.0,418000.0,404000.0,316000,387000,Transformationinput-electricityandheatgenerati...
2318,A,TI_EHG_EPS_PURE,E7000,GWH,TR,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.000,0.000,Transformationinput-electricityandheatgenerati...
2319,A,TI_EHG_EPS_PURE,E7000,GWH,UA,293000,302000,290000,277000,293000,...,687000,975000,1124000.0,1574000.0,1633000.0,1574200.0,1579000.0,1834900,0.000,Transformationinput-electricityandheatgenerati...
2320,A,TI_EHG_EPS_PURE,E7000,GWH,UK,2626000,2109000,2257000,1948000,2051000,...,3977749,3929581,3884199.0,3710569.0,4014340.0,3859190.0,3390866.0,2115259,:,Transformationinput-electricityandheatgenerati...
2321,A,TI_EHG_EPS_PURE,E7000,GWH,XK,:,:,:,:,:,...,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.000,0.000,Transformationinput-electricityandheatgenerati...

In [11]:
consumption = consumption.merge(countries, on='Alpha_2_code', how='left')
consumption['EU?'] = consumption['Alpha_2_code'].isin(EU_countries['Alpha_2_code'])

In [12]:
consumption.columns

Index(['freq', 'nrg_bal', 'siec', 'unit', 'Alpha_2_code', '1990', '1991',
       '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000',
       '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019', '2020', 'energy_balance', 'Country', 'Alpha_3_code', 'EU?'],
      dtype='object')

In [13]:
consumption = consumption[['freq', 'nrg_bal', 'energy_balance', 'siec', 'unit', 'Country', 'EU?', 'Alpha_2_code', 'Alpha_3_code', '1990', '1991',
                           '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000',
                           '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
                           '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
                           '2019', '2020']]
consumption.head()

,freq,nrg_bal,energy_balance,siec,unit,Country,EU?,Alpha_2_code,Alpha_3_code,1990,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,A,AFC,Availableforfinalconsumption,E7000,GWH,Albania,False,AL,ALB,1780000,...,6407000,6137000,7325000,6656000.0,6015000.0,5674000.0,6136388.0,6480824.0,6530243,6656144
1,A,AFC,Availableforfinalconsumption,E7000,GWH,Austria,True,AT,AUT,43577000,...,62230662,63165761,63509236,62563846.0,63553966.0,64527283.0,65569869.0,65855941.0,66027931,63577133
2,A,AFC,Availableforfinalconsumption,E7000,GWH,Bosnia and Herzegovina,False,BA,BIH,:,...,:,:,:,11877000.0,11924000.0,11494000.0,11785000.0,11820000.0,11301000,10240000
3,A,AFC,Availableforfinalconsumption,E7000,GWH,Belgium,True,BE,BEL,59108000,...,84064300,84020100,84231800,82087900.0,83102000.0,83228100.0,83809800.0,84263000.0,83306400,80871400
4,A,AFC,Availableforfinalconsumption,E7000,GWH,Bulgaria,True,BG,BGR,36484000,...,29589000,29148000,28629000,28940000.0,29639000.0,30257000.0,31445466.0,31389986.0,31119715,30511049

In [14]:
consumption.rename(columns={'nrg_bal': 'energy_balance_code'}, inplace=True)
consumption.head()

,freq,energy_balance_code,energy_balance,siec,unit,Country,EU?,Alpha_2_code,Alpha_3_code,1990,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,A,AFC,Availableforfinalconsumption,E7000,GWH,Albania,False,AL,ALB,1780000,...,6407000,6137000,7325000,6656000.0,6015000.0,5674000.0,6136388.0,6480824.0,6530243,6656144
1,A,AFC,Availableforfinalconsumption,E7000,GWH,Austria,True,AT,AUT,43577000,...,62230662,63165761,63509236,62563846.0,63553966.0,64527283.0,65569869.0,65855941.0,66027931,63577133
2,A,AFC,Availableforfinalconsumption,E7000,GWH,Bosnia and Herzegovina,False,BA,BIH,:,...,:,:,:,11877000.0,11924000.0,11494000.0,11785000.0,11820000.0,11301000,10240000
3,A,AFC,Availableforfinalconsumption,E7000,GWH,Belgium,True,BE,BEL,59108000,...,84064300,84020100,84231800,82087900.0,83102000.0,83228100.0,83809800.0,84263000.0,83306400,80871400
4,A,AFC,Availableforfinalconsumption,E7000,GWH,Bulgaria,True,BG,BGR,36484000,...,29589000,29148000,28629000,28940000.0,29639000.0,30257000.0,31445466.0,31389986.0,31119715,30511049

In [15]:
consumption['energy_balance_code'].unique()

array(['AFC', 'DL', 'EXP', 'FC', 'FC_IND_CON_E', 'FC_IND_CPC_E',
       'FC_IND_E', 'FC_IND_FBT_E', 'FC_IND_IS_E', 'FC_IND_MAC_E',
       'FC_IND_MQ_E', 'FC_IND_NFM_E', 'FC_IND_NMM_E', 'FC_IND_NSP_E',
       'FC_IND_PPP_E', 'FC_IND_TE_E', 'FC_IND_TL_E', 'FC_IND_WP_E',
       'FC_OTH_AF_E', 'FC_OTH_CP_E', 'FC_OTH_FISH_E', 'FC_OTH_HH_E',
       'FC_OTH_NSP_E', 'FC_TRA_E', 'FC_TRA_NSP_E', 'FC_TRA_PIPE_E',
       'FC_TRA_RAIL_E', 'FC_TRA_ROAD_E', 'GEP', 'ID', 'IMP', 'NEP',
       'NRG_BF_E', 'NRG_BIOG_E', 'NRG_BKBPB_E', 'NRG_CL_E', 'NRG_CM_E',
       'NRG_CO_E', 'NRG_CPP_E', 'NRG_E', 'NRG_EHG_E', 'NRG_GTL_E',
       'NRG_GW_E', 'NRG_LNG_E', 'NRG_NI_E', 'NRG_NSP_E', 'NRG_OIL_NG_E',
       'NRG_PF_E', 'NRG_PR_E', 'STATDIFF', 'TI_EHG_EB', 'TI_EHG_EDHP',
       'TI_EHG_EPS_MIX', 'TI_EHG_EPS_PURE'], dtype=object)

In [16]:
consumption['unit'].unique()

array(['GWH'], dtype=object)

In [17]:
#pd.DataFrame.to_csv(consumption, '../raw_data/Consumption_Cleaned.csv')

In [18]:
consumption

,freq,energy_balance_code,energy_balance,siec,unit,Country,EU?,Alpha_2_code,Alpha_3_code,1990,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,A,AFC,Availableforfinalconsumption,E7000,GWH,Albania,False,AL,ALB,1780000,...,6407000,6137000,7325000,6656000.0,6015000.0,5674000.0,6136388.0,6480824.0,6530243,6656144
1,A,AFC,Availableforfinalconsumption,E7000,GWH,Austria,True,AT,AUT,43577000,...,62230662,63165761,63509236,62563846.0,63553966.0,64527283.0,65569869.0,65855941.0,66027931,63577133
2,A,AFC,Availableforfinalconsumption,E7000,GWH,Bosnia and Herzegovina,False,BA,BIH,:,...,:,:,:,11877000.0,11924000.0,11494000.0,11785000.0,11820000.0,11301000,10240000
3,A,AFC,Availableforfinalconsumption,E7000,GWH,Belgium,True,BE,BEL,59108000,...,84064300,84020100,84231800,82087900.0,83102000.0,83228100.0,83809800.0,84263000.0,83306400,80871400
4,A,AFC,Availableforfinalconsumption,E7000,GWH,Bulgaria,True,BG,BGR,36484000,...,29589000,29148000,28629000,28940000.0,29639000.0,30257000.0,31445466.0,31389986.0,31119715,30511049
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2317,A,TI_EHG_EPS_PURE,Transformationinput-electricityandheatgenerati...,E7000,GWH,Slovakia,True,SK,SVK,1158000,...,506000,357000,452000,343000.0,409000.0,334000.0,418000.0,404000.0,316000,387000
2318,A,TI_EHG_EPS_PURE,Transformationinput-electricityandheatgenerati...,E7000,GWH,Turkey,False,TR,TUR,0.000,...,0.000,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.000,0.000
2319,A,TI_EHG_EPS_PURE,Transformationinput-electricityandheatgenerati...,E7000,GWH,Ukraine,False,UA,UKR,293000,...,0.000,687000,975000,1124000.0,1574000.0,1633000.0,1574200.0,1579000.0,1834900,0.000
2320,A,TI_EHG_EPS_PURE,Transformationinput-electricityandheatgenerati...,E7000,GWH,United Kingdom,False,UK,GBR,2626000,...,3843097,3977749,3929581,3884199.0,3710569.0,4014340.0,3859190.0,3390866.0,2115259,:
2321,A,TI_EHG_EPS_PURE,Transformationinput-electricityandheatgenerati...,E7000,GWH,NaN,False,XK,NaN,:,...,0.000,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.000,0.000

# 2. Electricity Production

In [19]:
production = pd.read_csv('../raw_data/GrossNetElecProd.csv', encoding = 'unicode_escape')
production

,freq,plants,operator,nrg_bal,siec,unit,Alpha_2_code,1990,1991,1992,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,A,CHP,PRR_AUTO,GEP,CF,GWH,AL,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1,A,CHP,PRR_AUTO,GEP,CF,GWH,AT,3025000,3888000,4037000,...,5209027,4690911,4453396,4067491,4142426,4331098,4536887,4108578,4170416,4037880
2,A,CHP,PRR_AUTO,GEP,CF,GWH,BA,:,:,:,...,:,:,:,0.000,0.000,0.000,0.000,0.000,0.000,29000
3,A,CHP,PRR_AUTO,GEP,CF,GWH,BE,0.000,0.000,0.000,...,5441300,6023200,6161500,6429000,6476100,6820600,7589700,7728100,9114800,9366900
4,A,CHP,PRR_AUTO,GEP,CF,GWH,BG,3882000,2995000,3708000,...,124000,255000,251000,233000,360000,399000,583165,637454,636997,650121
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14185,A,TOTAL,TOTAL,NHP,X9900H,TJ,SK,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
14186,A,TOTAL,TOTAL,NHP,X9900H,TJ,TR,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
14187,A,TOTAL,TOTAL,NHP,X9900H,TJ,UA,0.000,0.000,0.000,...,0.000,0.000,41892000,31200000,23894000,25082000,22833000,22341500,27865000,2300000
14188,A,TOTAL,TOTAL,NHP,X9900H,TJ,UK,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,:
14189,A,TOTAL,TOTAL,NHP,X9900H,TJ,XK,:,:,:,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000

In [20]:
production['plants'].unique()

array(['CHP', 'ELC', 'HEAT', 'TOTAL'], dtype=object)

In [21]:
production['operator'].unique()

array(['PRR_AUTO', 'PRR_MAIN', 'TOTAL'], dtype=object)

In [22]:
production['nrg_bal'].unique()

array(['GEP', 'GHP', 'NEP', 'NHP'], dtype=object)

In [23]:
production['siec'].unique()

array(['CF', 'N9000', 'RA200', 'RA400', 'TOTAL', 'X9900', 'X9900H',
       'E7000', 'RA600', 'RA100', 'RA130', 'RA300', 'RA500'], dtype=object)

In [24]:
production['unit'].unique()

array(['GWH', 'TJ'], dtype=object)

In [25]:
production = production.merge(energy_balance, on='nrg_bal', how='left')
production

,freq,plants,operator,nrg_bal,siec,unit,Alpha_2_code,1990,1991,1992,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,energy_balance
0,A,CHP,PRR_AUTO,GEP,CF,GWH,AL,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,Grosselectricityproduction
1,A,CHP,PRR_AUTO,GEP,CF,GWH,AT,3025000,3888000,4037000,...,4690911,4453396,4067491,4142426,4331098,4536887,4108578,4170416,4037880,Grosselectricityproduction
2,A,CHP,PRR_AUTO,GEP,CF,GWH,BA,:,:,:,...,:,:,0.000,0.000,0.000,0.000,0.000,0.000,29000,Grosselectricityproduction
3,A,CHP,PRR_AUTO,GEP,CF,GWH,BE,0.000,0.000,0.000,...,6023200,6161500,6429000,6476100,6820600,7589700,7728100,9114800,9366900,Grosselectricityproduction
4,A,CHP,PRR_AUTO,GEP,CF,GWH,BG,3882000,2995000,3708000,...,255000,251000,233000,360000,399000,583165,637454,636997,650121,Grosselectricityproduction
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14185,A,TOTAL,TOTAL,NHP,X9900H,TJ,SK,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,NaN
14186,A,TOTAL,TOTAL,NHP,X9900H,TJ,TR,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,NaN
14187,A,TOTAL,TOTAL,NHP,X9900H,TJ,UA,0.000,0.000,0.000,...,0.000,41892000,31200000,23894000,25082000,22833000,22341500,27865000,2300000,NaN
14188,A,TOTAL,TOTAL,NHP,X9900H,TJ,UK,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,:,NaN
14189,A,TOTAL,TOTAL,NHP,X9900H,TJ,XK,:,:,:,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,NaN

In [26]:
production = production.merge(countries, on='Alpha_2_code', how='left')
production['EU?'] = production['Alpha_2_code'].isin(EU_countries['Alpha_2_code'])
production

,freq,plants,operator,nrg_bal,siec,unit,Alpha_2_code,1990,1991,1992,...,2015,2016,2017,2018,2019,2020,energy_balance,Country,Alpha_3_code,EU?
0,A,CHP,PRR_AUTO,GEP,CF,GWH,AL,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,Grosselectricityproduction,Albania,ALB,False
1,A,CHP,PRR_AUTO,GEP,CF,GWH,AT,3025000,3888000,4037000,...,4142426,4331098,4536887,4108578,4170416,4037880,Grosselectricityproduction,Austria,AUT,True
2,A,CHP,PRR_AUTO,GEP,CF,GWH,BA,:,:,:,...,0.000,0.000,0.000,0.000,0.000,29000,Grosselectricityproduction,Bosnia and Herzegovina,BIH,False
3,A,CHP,PRR_AUTO,GEP,CF,GWH,BE,0.000,0.000,0.000,...,6476100,6820600,7589700,7728100,9114800,9366900,Grosselectricityproduction,Belgium,BEL,True
4,A,CHP,PRR_AUTO,GEP,CF,GWH,BG,3882000,2995000,3708000,...,360000,399000,583165,637454,636997,650121,Grosselectricityproduction,Bulgaria,BGR,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14185,A,TOTAL,TOTAL,NHP,X9900H,TJ,SK,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,NaN,Slovakia,SVK,True
14186,A,TOTAL,TOTAL,NHP,X9900H,TJ,TR,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,NaN,Turkey,TUR,False
14187,A,TOTAL,TOTAL,NHP,X9900H,TJ,UA,0.000,0.000,0.000,...,23894000,25082000,22833000,22341500,27865000,2300000,NaN,Ukraine,UKR,False
14188,A,TOTAL,TOTAL,NHP,X9900H,TJ,UK,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,:,NaN,United Kingdom,GBR,False
14189,A,TOTAL,TOTAL,NHP,X9900H,TJ,XK,:,:,:,...,0.000,0.000,0.000,0.000,0.000,0.000,NaN,NaN,NaN,False

In [27]:
production['Alpha_2_code'].unique()

array(['AL', 'AT', 'BA', 'BE', 'BG', 'CY', 'CZ', 'DE', 'DK', 'EA19', 'EE',
       'EL', 'ES', 'EU27_2020', 'FI', 'FR', 'GE', 'HR', 'HU', 'IE', 'IS',
       'IT', 'LI', 'LT', 'LU', 'LV', 'MD', 'ME', 'MK', 'MT', 'NL', 'NO',
       'PL', 'PT', 'RO', 'RS', 'SE', 'SI', 'SK', 'TR', 'UA', 'UK', 'XK'],
      dtype=object)

In [28]:
production = production[['freq', 'plants', 'operator', 'nrg_bal', 'energy_balance', 'siec', 'unit', 'Country', 'EU?', 'Alpha_2_code', 'Alpha_3_code',
                           '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
                           '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
                           '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
                           '2017', '2018', '2019', '2020']]
production.head()

,freq,plants,operator,nrg_bal,energy_balance,siec,unit,Country,EU?,Alpha_2_code,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,A,CHP,PRR_AUTO,GEP,Grosselectricityproduction,CF,GWH,Albania,False,AL,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1,A,CHP,PRR_AUTO,GEP,Grosselectricityproduction,CF,GWH,Austria,True,AT,...,5209027,4690911,4453396,4067491,4142426,4331098,4536887,4108578,4170416,4037880
2,A,CHP,PRR_AUTO,GEP,Grosselectricityproduction,CF,GWH,Bosnia and Herzegovina,False,BA,...,:,:,:,0.000,0.000,0.000,0.000,0.000,0.000,29000
3,A,CHP,PRR_AUTO,GEP,Grosselectricityproduction,CF,GWH,Belgium,True,BE,...,5441300,6023200,6161500,6429000,6476100,6820600,7589700,7728100,9114800,9366900
4,A,CHP,PRR_AUTO,GEP,Grosselectricityproduction,CF,GWH,Bulgaria,True,BG,...,124000,255000,251000,233000,360000,399000,583165,637454,636997,650121

In [29]:
#pd.DataFrame.to_csv(production, '../raw_data/Production_Cleaned.csv')

In [29]:
production[production['unit'] == 'GWH'].sum()

/tmp/ipykernel_31687/2509844419.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  production[production['unit'] == 'GWH'].sum()

freq              AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA...
plants            CHPCHPCHPCHPCHPCHPCHPCHPCHPCHPCHPCHPCHPCHPCHPC...
operator          PRR_AUTOPRR_AUTOPRR_AUTOPRR_AUTOPRR_AUTOPRR_AU...
nrg_bal           GEPGEPGEPGEPGEPGEPGEPGEPGEPGEPGEPGEPGEPGEPGEPG...
energy_balance    GrosselectricityproductionGrosselectricityprod...
siec              CFCFCFCFCFCFCFCFCFCFCFCFCFCFCFCFCFCFCFCFCFCFCF...
unit              GWHGWHGWHGWHGWHGWHGWHGWHGWHGWHGWHGWHGWHGWHGWHG...
EU?                                                            4698
Alpha_2_code      ALATBABEBGCYCZDEDKEA19EEELESEU27_2020FIFRGEHRH...
1990              0.000 3025000: 0.000 38820000.000 66270000.000...
1991              0.000 3888000: 0.000 29950000.000 64260000.000...
1992              0.000 4037000: 0.000 37080000.000 63960000.000...
1993              0.000 3311000: 0.000 31220000.000 61470000.000...
1994              0.000 3618000: 0.000 29170000.000 57060000.000...
1995              0.000 3699000: 0.000 28240000.000 56350000.000...
1996              0.000 2396000: 0.000 28200000.000 64150000.000...
1997              0.000 2722000: 9600023500000.000 65060000.000 ...
1998              0.000 2542000: 9800022260000.000 65670000.000 ...
1999              0.000 2794000: 8500021300000.000 64870000.000 ...
2000              0.000 3137000: 142100018450000.000 91900000.00...
2001              0.000 3935000: 132900017110000.000 86420000.00...
2002              0.000 4632000: 118800014250000.000 82060000.00...
2003              0.000 4124000: 1226000193700080008299000243770...
2004              0.000 3682000: 1466000152500024000861400023649...
2005              0.000 3841806: 1504800148100028000888800025948...
2006              0.000 4262980: 1516200158000032000892500026272...
2007              0.000 4455815: 1951900179000065000797100026874...
2008              0.000 4461044: 2809600847000650008397000270690...
2009              0.000 4154805: 3961800189000690007708000278160...
2010              0.000 4919057: 5238300228000660007533000312110...
2011              0.000 5209027: 5441300124000500007260000298540...
2012              0.000 4690911: 6023200255000490007334000298410...
2013              0.000 4453396: 6161500251000450007956000304560...
2014              0.000 40674910.000 642900023300038000844100031...
2015              0.000 41424260.000 647610036000037000856600034...
2016              0.000 43310980.000 682060039900038000873800037...
2017              0.000 45368870.000 758970058316540524839553739...
2018              0.000 41085780.000 772810063745443707816610335...
2019              0.000 41704160.000 911480063699743736804309634...
2020              0.000 4037880290009366900650121456087276411341...
dtype: object

# 3. Electricity Imports

In [30]:
imports = pd.read_csv('../raw_data/ElecImportsByPartnerCountry.csv')
imports.head()

,freq,siec,partner,unit,Alpha_2_code,1990,1991,1992,1993,1994,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,A,E7000,AD,GWH,AL,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
1,A,E7000,AD,GWH,AT,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
2,A,E7000,AD,GWH,BA,:,:,:,:,:,...,:,:,:,0.0,0.0,0.000,0.000,0.000,0.000,0.000
3,A,E7000,AD,GWH,BE,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
4,A,E7000,AD,GWH,BG,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000

In [31]:
imports.describe()

               2014          2015
count  1.419000e+04  1.419000e+04
mean   1.498453e+05  1.588574e+05
std    4.092433e+06  4.341029e+06
min    0.000000e+00  0.000000e+00
25%    0.000000e+00  0.000000e+00
50%    0.000000e+00  0.000000e+00
75%    0.000000e+00  0.000000e+00
max    3.636869e+08  3.876386e+08

In [32]:
imports['freq'].value_counts()

A    14190
Name: freq, dtype: int64

In [33]:
imports['siec'].value_counts()

E7000    7095
H8000    7095
Name: siec, dtype: int64

In [34]:
imports.unit.value_counts()

GWH    7095
TJ     7095
Name: unit, dtype: int64

In [35]:
imports['partner'].unique()

array(['AD', 'AE', 'AFR_OTH', 'AL', 'AM', 'AME_OTH', 'AO', 'AR',
       'ASI_NME_OTH', 'ASI_OTH', 'AT', 'AU', 'AW', 'AZ', 'BA', 'BB', 'BD',
       'BE', 'BG', 'BH', 'BJ', 'BN', 'BO', 'BR', 'BS', 'BY', 'BZ', 'CA',
       'CD', 'CG', 'CH', 'CI', 'CL', 'CM', 'CN', 'CO', 'CR', 'CU', 'CV',
       'CW', 'CY', 'CZ', 'DE', 'DJ', 'DK', 'DO', 'DZ', 'EC', 'EE', 'EG',
       'EL', 'ER', 'ES', 'ET', 'EUR_OTH', 'EX_SU_OTH', 'FI', 'FR', 'GA',
       'GE', 'GH', 'GI', 'GQ', 'GT', 'GW', 'HK', 'HN', 'HR', 'HU', 'ID',
       'IE', 'IL', 'IN', 'IQ', 'IR', 'IS', 'IT', 'JM', 'JO', 'JP', 'KE',
       'KG', 'KH', 'KP', 'KR', 'KW', 'KZ', 'LA', 'LB', 'LI', 'LK', 'LR',
       'LT', 'LU', 'LV', 'LY', 'MA', 'MD', 'ME', 'MG', 'MH', 'MK', 'MM',
       'MN', 'MR', 'MT', 'MU', 'MX', 'MY', 'MZ', nan, 'NC', 'NE', 'NG',
       'NL', 'NO', 'NP', 'NSP', 'NZ', 'OM', 'PA', 'PE', 'PG', 'PH', 'PK',
       'PL', 'PT', 'QA', 'RO', 'RS', 'RU', 'SA', 'SD', 'SE', 'SG', 'SI',
       'SK', 'SL', 'SN', 'SS', 'ST', 'SY', 'TG', 'TH', 'TJ', 'TL', 'TM',
       'TN', 'TOTAL', 'TR', 'TT', 'TW', 'TZ', 'UA', 'UG', 'UK', 'US',
       'UY', 'UZ', 'VE', 'VG', 'VN', 'XK', 'YE', 'ZA'], dtype=object)

In [36]:
imports['Alpha_2_code'].unique()

array(['AL', 'AT', 'BA', 'BE', 'BG', 'CY', 'CZ', 'DE', 'DK', 'EA19', 'EE',
       'EL', 'ES', 'EU27_2020', 'FI', 'FR', 'GE', 'HR', 'HU', 'IE', 'IS',
       'IT', 'LI', 'LT', 'LU', 'LV', 'MD', 'ME', 'MK', 'MT', 'NL', 'NO',
       'PL', 'PT', 'RO', 'RS', 'SE', 'SI', 'SK', 'TR', 'UA', 'UK', 'XK'],
      dtype=object)

In [37]:
#pd.DataFrame.to_csv(imports, '../raw_data/Imports_Cleaned.csv')

In [38]:
imports = imports.merge(countries, on='Alpha_2_code', how='left')
imports['EU?'] = imports['Alpha_2_code'].isin(EU_countries['Alpha_2_code'])
imports

,freq,siec,partner,unit,Alpha_2_code,1990,1991,1992,1993,1994,...,2014,2015,2016,2017,2018,2019,2020,Country,Alpha_3_code,EU?
0,A,E7000,AD,GWH,AL,0.000,0.000,0.000,0.000,0.000,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000,Albania,ALB,False
1,A,E7000,AD,GWH,AT,0.000,0.000,0.000,0.000,0.000,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000,Austria,AUT,True
2,A,E7000,AD,GWH,BA,:,:,:,:,:,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000,Bosnia and Herzegovina,BIH,False
3,A,E7000,AD,GWH,BE,0.000,0.000,0.000,0.000,0.000,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000,Belgium,BEL,True
4,A,E7000,AD,GWH,BG,0.000,0.000,0.000,0.000,0.000,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000,Bulgaria,BGR,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14185,A,H8000,ZA,TJ,SK,0.000,0.000,0.000,0.000,0.000,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000,Slovakia,SVK,True
14186,A,H8000,ZA,TJ,TR,0.000,0.000,0.000,0.000,0.000,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000,Turkey,TUR,False
14187,A,H8000,ZA,TJ,UA,0.000,0.000,0.000,0.000,0.000,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000,Ukraine,UKR,False
14188,A,H8000,ZA,TJ,UK,0.000,0.000,0.000,0.000,0.000,...,0.0,0.0,0.000,0.000,0.000,0.000,:,United Kingdom,GBR,False
14189,A,H8000,ZA,TJ,XK,:,:,:,:,:,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000,NaN,NaN,False

In [39]:
imports = imports[['freq', 'siec', 'partner', 'unit', 'Country', 'EU?', 'Alpha_2_code', 'Alpha_3_code', '1990', '1991',
       '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000',
       '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019', '2020']]
imports

,freq,siec,partner,unit,Country,EU?,Alpha_2_code,Alpha_3_code,1990,1991,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,A,E7000,AD,GWH,Albania,False,AL,ALB,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
1,A,E7000,AD,GWH,Austria,True,AT,AUT,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
2,A,E7000,AD,GWH,Bosnia and Herzegovina,False,BA,BIH,:,:,...,:,:,:,0.0,0.0,0.000,0.000,0.000,0.000,0.000
3,A,E7000,AD,GWH,Belgium,True,BE,BEL,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
4,A,E7000,AD,GWH,Bulgaria,True,BG,BGR,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14185,A,H8000,ZA,TJ,Slovakia,True,SK,SVK,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
14186,A,H8000,ZA,TJ,Turkey,False,TR,TUR,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
14187,A,H8000,ZA,TJ,Ukraine,False,UA,UKR,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
14188,A,H8000,ZA,TJ,United Kingdom,False,UK,GBR,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,:
14189,A,H8000,ZA,TJ,NaN,False,XK,NaN,:,:,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000

# 4. Electricity Exports

In [40]:
exports = pd.read_csv('../raw_data/ElecExportsByPartnerCountry.csv')
exports.head()

,freq,siec,partner,unit,Alpha_2_code,1990,1991,1992,1993,1994,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,A,E7000,AD,GWH,AL,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
1,A,E7000,AD,GWH,AT,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
2,A,E7000,AD,GWH,BA,:,:,:,:,:,...,:,:,:,0.0,0.0,0.000,0.000,0.000,0.000,0.000
3,A,E7000,AD,GWH,BE,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
4,A,E7000,AD,GWH,BG,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000

In [41]:
exports.describe()

               2014          2015
count  1.419000e+04  1.419000e+04
mean   1.467068e+05  1.559557e+05
std    4.025061e+06  4.295714e+06
min    0.000000e+00  0.000000e+00
25%    0.000000e+00  0.000000e+00
50%    0.000000e+00  0.000000e+00
75%    0.000000e+00  0.000000e+00
max    3.687103e+08  3.943138e+08

In [42]:
exports.freq.value_counts()

A    14190
Name: freq, dtype: int64

In [43]:
exports.siec.value_counts()

E7000    7095
H8000    7095
Name: siec, dtype: int64

In [44]:
exports.partner.unique()

array(['AD', 'AE', 'AFR_OTH', 'AL', 'AM', 'AME_OTH', 'AO', 'AR',
       'ASI_NME_OTH', 'ASI_OTH', 'AT', 'AU', 'AW', 'AZ', 'BA', 'BB', 'BD',
       'BE', 'BG', 'BH', 'BJ', 'BN', 'BO', 'BR', 'BS', 'BY', 'BZ', 'CA',
       'CD', 'CG', 'CH', 'CI', 'CL', 'CM', 'CN', 'CO', 'CR', 'CU', 'CV',
       'CW', 'CY', 'CZ', 'DE', 'DJ', 'DK', 'DO', 'DZ', 'EC', 'EE', 'EG',
       'EL', 'ER', 'ES', 'ET', 'EUR_OTH', 'EX_SU_OTH', 'FI', 'FR', 'GA',
       'GE', 'GH', 'GI', 'GQ', 'GT', 'GW', 'HK', 'HN', 'HR', 'HU', 'ID',
       'IE', 'IL', 'IN', 'IQ', 'IR', 'IS', 'IT', 'JM', 'JO', 'JP', 'KE',
       'KG', 'KH', 'KP', 'KR', 'KW', 'KZ', 'LA', 'LB', 'LI', 'LK', 'LR',
       'LT', 'LU', 'LV', 'LY', 'MA', 'MD', 'ME', 'MG', 'MH', 'MK', 'MM',
       'MN', 'MR', 'MT', 'MU', 'MX', 'MY', 'MZ', nan, 'NC', 'NE', 'NG',
       'NL', 'NO', 'NP', 'NSP', 'NZ', 'OM', 'PA', 'PE', 'PG', 'PH', 'PK',
       'PL', 'PT', 'QA', 'RO', 'RS', 'RU', 'SA', 'SD', 'SE', 'SG', 'SI',
       'SK', 'SL', 'SN', 'SS', 'ST', 'SY', 'TG', 'TH', 'TJ', 'TL', 'TM',
       'TN', 'TOTAL', 'TR', 'TT', 'TW', 'TZ', 'UA', 'UG', 'UK', 'US',
       'UY', 'UZ', 'VE', 'VG', 'VN', 'XK', 'YE', 'ZA'], dtype=object)

In [45]:
exports = exports.merge(countries, on='Alpha_2_code', how='left')
exports['EU?'] = exports['Alpha_2_code'].isin(EU_countries['Alpha_2_code'])
exports

,freq,siec,partner,unit,Alpha_2_code,1990,1991,1992,1993,1994,...,2014,2015,2016,2017,2018,2019,2020,Country,Alpha_3_code,EU?
0,A,E7000,AD,GWH,AL,0.000,0.000,0.000,0.000,0.000,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000,Albania,ALB,False
1,A,E7000,AD,GWH,AT,0.000,0.000,0.000,0.000,0.000,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000,Austria,AUT,True
2,A,E7000,AD,GWH,BA,:,:,:,:,:,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000,Bosnia and Herzegovina,BIH,False
3,A,E7000,AD,GWH,BE,0.000,0.000,0.000,0.000,0.000,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000,Belgium,BEL,True
4,A,E7000,AD,GWH,BG,0.000,0.000,0.000,0.000,0.000,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000,Bulgaria,BGR,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14185,A,H8000,ZA,TJ,SK,0.000,0.000,0.000,0.000,0.000,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000,Slovakia,SVK,True
14186,A,H8000,ZA,TJ,TR,0.000,0.000,0.000,0.000,0.000,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000,Turkey,TUR,False
14187,A,H8000,ZA,TJ,UA,0.000,0.000,0.000,0.000,0.000,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000,Ukraine,UKR,False
14188,A,H8000,ZA,TJ,UK,0.000,0.000,0.000,0.000,0.000,...,0.0,0.0,0.000,0.000,0.000,0.000,:,United Kingdom,GBR,False
14189,A,H8000,ZA,TJ,XK,:,:,:,:,:,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000,NaN,NaN,False

In [46]:
exports = exports[['freq', 'siec', 'partner', 'unit', 'Country', 'EU?', 'Alpha_2_code', 'Alpha_3_code', '1990', '1991',
       '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000',
       '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019', '2020']]
exports

,freq,siec,partner,unit,Country,EU?,Alpha_2_code,Alpha_3_code,1990,1991,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,A,E7000,AD,GWH,Albania,False,AL,ALB,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
1,A,E7000,AD,GWH,Austria,True,AT,AUT,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
2,A,E7000,AD,GWH,Bosnia and Herzegovina,False,BA,BIH,:,:,...,:,:,:,0.0,0.0,0.000,0.000,0.000,0.000,0.000
3,A,E7000,AD,GWH,Belgium,True,BE,BEL,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
4,A,E7000,AD,GWH,Bulgaria,True,BG,BGR,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14185,A,H8000,ZA,TJ,Slovakia,True,SK,SVK,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
14186,A,H8000,ZA,TJ,Turkey,False,TR,TUR,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
14187,A,H8000,ZA,TJ,Ukraine,False,UA,UKR,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
14188,A,H8000,ZA,TJ,United Kingdom,False,UK,GBR,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,:
14189,A,H8000,ZA,TJ,NaN,False,XK,NaN,:,:,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000

In [48]:
#pd.DataFrame.to_csv(exports, '../raw_data/Exports_Cleaned.csv')

# 5. Power Plant Database

In [47]:
temp = pd.read_csv('../raw_data/PowerGenerationDatabase_ALL.csv')
temp['EU?'] = temp['country'].isin(EU_countries['EU_country'])
temp

,iso_code,country,count,total_capacity_gw,max_capacity_mw,count_distinct_fuel,count_distinct_name,count_distinct_owner,count_distinct_source,count_fuel_coal,...,count_generation_gwh_2013,count_generation_gwh_2014,count_generation_gwh_2015,count_generation_gwh_2016,count_generation_gwh_2017,count_generation_gwh_2018,count_generation_gwh_2019,count_generation_data_source,count_estimated_generation_gwh,EU?
0,AFG,Afghanistan,9,0.300550,100.0,3.0,9.0,1.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False
1,ALB,Albania,8,1.529000,600.0,2.0,8.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,False
2,DZA,Algeria,59,15.873800,1200.0,4.0,59.0,12.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,59.0,False
3,ASM,American Samoa,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
4,AGO,Angola,14,1.071180,520.0,3.0,14.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,VNM,Vietnam,236,41.350490,2400.0,7.0,235.0,145.0,5.0,24.0,...,0.0,0.0,0.0,156.0,0.0,0.0,0.0,156.0,236.0,False
208,ESH,Western Sahara,1,0.023400,23.4,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False
209,YEM,Yemen,7,1.045000,400.0,2.0,7.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,False
210,ZMB,Zambia,15,2.689337,990.0,5.0,15.0,4.0,3.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0,False
211,ZWE,Zimbabwe,2,1.670000,920.0,2.0,2.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,False

In [50]:
temp = temp[['iso_code', 'country', 'EU?', 'count', 'total_capacity_gw', 'max_capacity_mw',
       'count_distinct_fuel', 'count_distinct_name', 'count_distinct_owner',
       'count_distinct_source', 'count_fuel_coal', 'capacity_gw_fuel_coal',
       'count_fuel_gas', 'capacity_gw_fuel_gas', 'count_fuel_oil',
       'capacity_gw_fuel_oil', 'count_fuel_petcoke',
       'capacity_gw_fuel_petcoke', 'count_fuel_hydro',
       'capacity_gw_fuel_hydro', 'count_fuel_nuclear',
       'capacity_gw_fuel_nuclear', 'count_fuel_wind', 'capacity_gw_fuel_wind',
       'count_fuel_solar', 'capacity_gw_fuel_solar', 'count_fuel_geothermal',
       'capacity_gw_fuel_geothermal', 'count_fuel_biomass',
       'capacity_gw_fuel_biomass', 'count_fuel_cogeneration',
       'capacity_gw_fuel_cogeneration', 'count_fuel_waste',
       'capacity_gw_fuel_waste', 'count_fuel_wave_and_tidal',
       'capacity_gw_fuel_wave_and_tidal', 'count_fuel_storage',
       'capacity_gw_fuel_storage', 'count_fuel_other',
       'capacity_gw_fuel_other', 'count_null_name', 'count_null_gppd_idnr',
       'count_null_capacity_mw', 'count_null_year_of_capacity_data',
       'count_null_owner', 'count_null_source', 'count_null_url',
       'count_null_latitude', 'count_null_longitude', 'count_null_fuel',
       'count_wepp_id', 'capacity_gw_wepp_id', 'count_null_generation_gwh_all',
       'count_generation_gwh_2013', 'count_generation_gwh_2014',
       'count_generation_gwh_2015', 'count_generation_gwh_2016',
       'count_generation_gwh_2017', 'count_generation_gwh_2018',
       'count_generation_gwh_2019', 'count_generation_data_source',
       'count_estimated_generation_gwh']]
temp

,iso_code,country,EU?,count,total_capacity_gw,max_capacity_mw,count_distinct_fuel,count_distinct_name,count_distinct_owner,count_distinct_source,...,count_null_generation_gwh_all,count_generation_gwh_2013,count_generation_gwh_2014,count_generation_gwh_2015,count_generation_gwh_2016,count_generation_gwh_2017,count_generation_gwh_2018,count_generation_gwh_2019,count_generation_data_source,count_estimated_generation_gwh
0,AFG,Afghanistan,False,9,0.300550,100.0,3.0,9.0,1.0,2.0,...,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,ALB,Albania,False,8,1.529000,600.0,2.0,8.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0
2,DZA,Algeria,False,59,15.873800,1200.0,4.0,59.0,12.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,59.0
3,ASM,American Samoa,False,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AGO,Angola,False,14,1.071180,520.0,3.0,14.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,VNM,Vietnam,False,236,41.350490,2400.0,7.0,235.0,145.0,5.0,...,0.0,0.0,0.0,0.0,156.0,0.0,0.0,0.0,156.0,236.0
208,ESH,Western Sahara,False,1,0.023400,23.4,1.0,1.0,1.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
209,YEM,Yemen,False,7,1.045000,400.0,2.0,7.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0
210,ZMB,Zambia,False,15,2.689337,990.0,5.0,15.0,4.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0
211,ZWE,Zimbabwe,False,2,1.670000,920.0,2.0,2.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0

In [50]:
temp.describe()

,count,total_capacity_gw,max_capacity_mw,count_distinct_fuel,count_distinct_name,count_distinct_owner,count_distinct_source,count_fuel_coal,capacity_gw_fuel_coal,count_fuel_gas,...,count_null_generation_gwh_all,count_generation_gwh_2013,count_generation_gwh_2014,count_generation_gwh_2015,count_generation_gwh_2016,count_generation_gwh_2017,count_generation_gwh_2018,count_generation_gwh_2019,count_generation_data_source,count_estimated_generation_gwh
count,212.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,...,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000
mean,164.792453,34.173506,1809.844030,4.251497,207.389222,61.868263,6.916168,14.491018,12.037520,27.017964,...,4.419162,38.425150,43.269461,49.119760,54.754491,56.886228,57.706587,57.838323,68.263473,161.233533
std,800.149882,147.341150,2531.635217,2.656473,892.660183,376.285981,19.228309,81.143623,78.659377,179.272038,...,35.084121,475.693082,508.688089,543.339538,600.178793,648.348750,693.337392,747.435860,752.241568,538.712219
min,0.000000,0.003000,3.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,0.872490,297.000000,2.000000,7.000000,1.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
50%,11.000000,3.720100,1021.000000,3.000000,16.000000,2.000000,2.000000,0.000000,0.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,15.000000
75%,40.750000,14.705332,2302.000000,6.000000,60.500000,11.500000,4.000000,3.000000,1.928000,9.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,59.000000
max,9833.000000,1415.067380,22500.000000,14.000000,9817.000000,4596.000000,191.000000,946.000000,955.718000,2290.000000,...,450.000000,6145.000000,6562.000000,7011.000000,7746.000000,8370.000000,8950.000000,9659.000000,9715.000000,4235.000000

In [51]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212 entries, 0 to 211
Data columns (total 61 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   iso_code                          212 non-null    object
 1   country                           212 non-null    object
 2   count                             212 non-null    int64
 3   total_capacity_gw                 167 non-null    float64
 4   max_capacity_mw                   167 non-null    float64
 5   count_distinct_fuel               167 non-null    float64
 6   count_distinct_name               167 non-null    float64
 7   count_distinct_owner              167 non-null    float64
 8   count_distinct_source             167 non-null    float64
 9   count_fuel_coal                   167 non-null    float64
 10  capacity_gw_fuel_coal             167 non-null    float64
 11  count_fuel_gas                    167 non-null    float64
 12  capacity_gw_fuel_gas              167 non-null    float64
 13  count_fuel_oil                    167 non-null    float64
 14  capacity_gw_fuel_oil              167 non-null    float64
 15  count_fuel_petcoke                167 non-null    float64
 16  capacity_gw_fuel_petcoke          167 non-null    float64
 17  count_fuel_hydro                  167 non-null    float64
 18  capacity_gw_fuel_hydro            167 non-null    float64
 19  count_fuel_nuclear                167 non-null    float64
 20  capacity_gw_fuel_nuclear          167 non-null    float64
 21  count_fuel_wind                   167 non-null    float64
 22  capacity_gw_fuel_wind             167 non-null    float64
 23  count_fuel_solar                  167 non-null    float64
 24  capacity_gw_fuel_solar            167 non-null    float64
 25  count_fuel_geothermal             167 non-null    float64
 26  capacity_gw_fuel_geothermal       167 non-null    float64
 27  count_fuel_biomass                167 non-null    float64
 28  capacity_gw_fuel_biomass          167 non-null    float64
 29  count_fuel_cogeneration           167 non-null    float64
 30  capacity_gw_fuel_cogeneration     167 non-null    float64
 31  count_fuel_waste                  167 non-null    float64
 32  capacity_gw_fuel_waste            167 non-null    float64
 33  count_fuel_wave_and_tidal         167 non-null    float64
 34  capacity_gw_fuel_wave_and_tidal   167 non-null    float64
 35  count_fuel_storage                167 non-null    float64
 36  capacity_gw_fuel_storage          167 non-null    float64
 37  count_fuel_other                  167 non-null    float64
 38  capacity_gw_fuel_other            167 non-null    float64
 39  count_null_name                   167 non-null    float64
 40  count_null_gppd_idnr              167 non-null    float64
 41  count_null_capacity_mw            167 non-null    float64
 42  count_null_year_of_capacity_data  167 non-null    float64
 43  count_null_owner                  167 non-null    float64
 44  count_null_source                 167 non-null    float64
 45  count_null_url                    167 non-null    float64
 46  count_null_latitude               167 non-null    float64
 47  count_null_longitude              167 non-null    float64
 48  count_null_fuel                   167 non-null    float64
 49  count_wepp_id                     167 non-null    float64
 50  capacity_gw_wepp_id               167 non-null    float64
 51  count_null_generation_gwh_all     167 non-null    float64
 52  count_generation_gwh_2013         167 non-null    float64
 53  count_generation_gwh_2014         167 non-null    float64
 54  count_generation_gwh_2015         167 non-null    float64
 55  count_generation_gwh_2016         167 non-null    float64
 56  count_generation_gwh_2017         167 non-null    float64
 57  count_generation_gwh_2018         167 non-null    float64
 58  count_generation_gwh_2019         167 non-null    float64
 59  count_generation_data_source      167 non-null    float64
 60  count_estimated_generation_gwh    167 non-null    float64
dtypes: float64(58), int64(1), object(2)
memory usage: 101.2+ KB

In [52]:
temp.tail()

,iso_code,country,count,total_capacity_gw,max_capacity_mw,count_distinct_fuel,count_distinct_name,count_distinct_owner,count_distinct_source,count_fuel_coal,...,count_null_generation_gwh_all,count_generation_gwh_2013,count_generation_gwh_2014,count_generation_gwh_2015,count_generation_gwh_2016,count_generation_gwh_2017,count_generation_gwh_2018,count_generation_gwh_2019,count_generation_data_source,count_estimated_generation_gwh
207,VNM,Vietnam,236,41.350490,2400.0,7.0,235.0,145.0,5.0,24.0,...,0.0,0.0,0.0,0.0,156.0,0.0,0.0,0.0,156.0,236.0
208,ESH,Western Sahara,1,0.023400,23.4,1.0,1.0,1.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
209,YEM,Yemen,7,1.045000,400.0,2.0,7.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0
210,ZMB,Zambia,15,2.689337,990.0,5.0,15.0,4.0,3.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0
211,ZWE,Zimbabwe,2,1.670000,920.0,2.0,2.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0

In [53]:
temp.iso_code.unique()

array(['AFG', 'ALB', 'DZA', 'ASM', 'AGO', 'ATA', 'ATG', 'ARG', 'ARM',
       'ABW', 'AUS', 'AUT', 'AZE', 'BHS', 'BHR', 'BGD', 'BRB', 'BLR',
       'BEL', 'BLZ', 'BEN', 'BMU', 'BTN', 'BOL', 'BIH', 'BWA', 'BRA',
       'VGB', 'BRN', 'BGR', 'BFA', 'BDI', 'KHM', 'CMR', 'CAN', 'CPV',
       'CYM', 'CAF', 'TCD', 'CHL', 'CHN', 'COL', 'COM', 'COG', 'COK',
       'CRI', 'CIV', 'HRV', 'CUB', 'CYP', 'CZE', 'COD', 'DNK', 'DJI',
       'DMA', 'DOM', 'ECU', 'EGY', 'SLV', 'GNQ', 'ERI', 'EST', 'ETH',
       'FLK', 'FJI', 'FIN', 'FRA', 'GUF', 'PYF', 'GAB', 'GMB', 'GEO',
       'DEU', 'GHA', 'GIB', 'GRC', 'GRL', 'GRD', 'GUM', 'GTM', 'GIN',
       'GNB', 'GUY', 'HTI', 'HND', 'HKG', 'HUN', 'ISL', 'IND', 'IDN',
       'IRN', 'IRQ', 'IRL', 'ISR', 'ITA', 'JAM', 'JPN', 'JOR', 'KAZ',
       'KEN', 'KIR', 'KOS', 'KWT', 'KGZ', 'LAO', 'LVA', 'LBN', 'LSO',
       'LBR', 'LBY', 'LTU', 'LUX', 'MAC', 'MKD', 'MDG', 'MWI', 'MYS',
       'MDV', 'MLI', 'MLT', 'MTQ', 'MRT', 'MUS', 'MEX', 'MDA', 'MNG',
       'MNE', 'MSR', 'MAR', 'MOZ', 'MMR', 'NAM', 'NRU', 'NPL', 'NLD',
       'NCL', 'NZL', 'NIC', 'NER', 'NGA', 'NIU', 'PRK', 'NOR', 'OMN',
       'PAK', 'PSE', 'PAN', 'PNG', 'PRY', 'PER', 'PHL', 'POL', 'PRT',
       'PRI', 'QAT', 'REU', 'ROU', 'RUS', 'RWA', 'SHN', 'KNA', 'LCA',
       'SPM', 'VCT', 'WSM', 'STP', 'SAU', 'SEN', 'SRB', 'SYC', 'SLE',
       'SGP', 'SVK', 'SVN', 'SLB', 'SOM', 'ZAF', 'KOR', 'ESP', 'LKA',
       'SDN', 'SUR', 'SWZ', 'SWE', 'CHE', 'SYR', 'TWN', 'TJK', 'TZA',
       'THA', 'TLS', 'TGO', 'TON', 'TTO', 'TUN', 'TUR', 'TKM', 'TCA',
       'UGA', 'UKR', 'ARE', 'GBR', 'USA', 'URY', 'UZB', 'VUT', 'VEN',
       'VNM', 'ESH', 'YEM', 'ZMB', 'ZWE'], dtype=object)

In [54]:
pd.DataFrame.to_csv(temp, '../raw_data/Power_Plants_Cleaned.csv')