# Electricity Imports

In [1]:
import pandas as pd

In [2]:
countries = pd.read_csv('../raw_data/CountryCodes.csv', encoding = 'unicode_escape')
countries.dropna(inplace=True)
countries.head()

          Country Alpha_2_code Alpha_3_code  Numeric
0     Afghanistan           AF          AFG      4.0
1         Albania           AL          ALB      8.0
2         Algeria           DZ          DZA     12.0
3  American Samoa           AS          ASM     16.0
4         Andorra           AD          AND     20.0

In [3]:
countries.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 247 entries, 0 to 248
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       247 non-null    object
 1   Alpha_2_code  247 non-null    object
 2   Alpha_3_code  247 non-null    object
 3   Numeric       247 non-null    float64
dtypes: float64(1), object(3)
memory usage: 9.6+ KB

In [4]:
countries[countries['Alpha_2_code'].isnull()==True]

Empty DataFrame
Columns: [Country, Alpha_2_code, Alpha_3_code, Numeric]
Index: []

# EU Countries Dictionary

In [5]:
EU_countries = pd.DataFrame.from_dict([{'Belgium': 'BE', 'Bulgaria': 'BG', 'Czechia': 'CZ', 'Denmark': 'DK', 'Germany': 'DE', 'Estonia': 'EE', 'Ireland': 'IE', 'Greece': 'EL',
                'Spain': 'ES', 'France': 'FR', 'Croatia': 'HR', 'Italy': 'IT', 'Cyprus': 'CY', 'Latvia': 'LV', 'Lithuania': 'LT', 'Luxembourg': 'LU', 
                'Hungary': 'HU', 'Malta': 'MT', 'Netherlands': 'NL', 'Austria': 'AT', 'Poland': 'PL', 'Portugal': 'PT', 'Romania': 'RO', 'Slovenia': 'SI',
                'Slovakia': 'SK', 'Finland': 'FI', 'Sweden': 'SE'}])
EU_countries = EU_countries.T.reset_index()
EU_countries.rename(columns={'index': 'EU_country', 0: 'Alpha_2_code'}, inplace=True)
EU_countries

     EU_country Alpha_2_code
0       Belgium           BE
1      Bulgaria           BG
2       Czechia           CZ
3       Denmark           DK
4       Germany           DE
5       Estonia           EE
6       Ireland           IE
7        Greece           EL
8         Spain           ES
9        France           FR
10      Croatia           HR
11        Italy           IT
12       Cyprus           CY
13       Latvia           LV
14    Lithuania           LT
15   Luxembourg           LU
16      Hungary           HU
17        Malta           MT
18  Netherlands           NL
19      Austria           AT
20       Poland           PL
21     Portugal           PT
22      Romania           RO
23     Slovenia           SI
24     Slovakia           SK
25      Finland           FI
26       Sweden           SE

# Imports by Country

In [6]:
imports = pd.read_csv('../raw_data/ElecImportsByPartnerCountry.csv', encoding = 'unicode_escape')
imports.head()

,freq,siec,partner,unit,Alpha_2_code,1990,1991,1992,1993,1994,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,A,E7000,AD,GWH,AL,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
1,A,E7000,AD,GWH,AT,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
2,A,E7000,AD,GWH,BA,:,:,:,:,:,...,:,:,:,0.0,0.0,0.000,0.000,0.000,0.000,0.000
3,A,E7000,AD,GWH,BE,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
4,A,E7000,AD,GWH,BG,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000

In [7]:
imports.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14190 entries, 0 to 14189
Data columns (total 36 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   freq          14190 non-null  object
 1   siec          14190 non-null  object
 2   partner       14104 non-null  object
 3   unit          14190 non-null  object
 4   Alpha_2_code  14190 non-null  object
 5   1990          14190 non-null  object
 6   1991          14190 non-null  object
 7   1992          14190 non-null  object
 8   1993          14190 non-null  object
 9   1994          14190 non-null  object
 10  1995          14190 non-null  object
 11  1996          14190 non-null  object
 12  1997          14190 non-null  object
 13  1998          14190 non-null  object
 14  1999          14190 non-null  object
 15  2000          14190 non-null  object
 16  2001          14190 non-null  object
 17  2002          14190 non-null  object
 18  2003          14190 non-null  object
 19  2004          14190 non-null  object
 20  2005          14190 non-null  object
 21  2006          14190 non-null  object
 22  2007          14190 non-null  object
 23  2008          14190 non-null  object
 24  2009          14190 non-null  object
 25  2010          14190 non-null  object
 26  2011          14190 non-null  object
 27  2012          14190 non-null  object
 28  2013          14190 non-null  object
 29  2014          14190 non-null  float64
 30  2015          14190 non-null  float64
 31  2016          14190 non-null  object
 32  2017          14190 non-null  object
 33  2018          14190 non-null  object
 34  2019          14190 non-null  object
 35  2020          14190 non-null  object
dtypes: float64(2), object(34)
memory usage: 3.9+ MB

In [8]:
# merge imports df with countries df
imports = imports.merge(countries, on='Alpha_2_code', how='left')

# create new column 'EU?' and fill with True/False based on whether country is in EU dictionary
imports['EU?'] = imports['Alpha_2_code'].isin(EU_countries['Alpha_2_code'])
imports

,freq,siec,partner,unit,Alpha_2_code,1990,1991,1992,1993,1994,...,2015,2016,2017,2018,2019,2020,Country,Alpha_3_code,Numeric,EU?
0,A,E7000,AD,GWH,AL,0.000,0.000,0.000,0.000,0.000,...,0.0,0.000,0.000,0.000,0.000,0.000,Albania,ALB,8.0,False
1,A,E7000,AD,GWH,AT,0.000,0.000,0.000,0.000,0.000,...,0.0,0.000,0.000,0.000,0.000,0.000,Austria,AUT,40.0,True
2,A,E7000,AD,GWH,BA,:,:,:,:,:,...,0.0,0.000,0.000,0.000,0.000,0.000,Bosnia and Herzegovina,BIH,70.0,False
3,A,E7000,AD,GWH,BE,0.000,0.000,0.000,0.000,0.000,...,0.0,0.000,0.000,0.000,0.000,0.000,Belgium,BEL,56.0,True
4,A,E7000,AD,GWH,BG,0.000,0.000,0.000,0.000,0.000,...,0.0,0.000,0.000,0.000,0.000,0.000,Bulgaria,BGR,100.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14185,A,H8000,ZA,TJ,SK,0.000,0.000,0.000,0.000,0.000,...,0.0,0.000,0.000,0.000,0.000,0.000,Slovakia,SVK,703.0,True
14186,A,H8000,ZA,TJ,TR,0.000,0.000,0.000,0.000,0.000,...,0.0,0.000,0.000,0.000,0.000,0.000,Turkey,TUR,792.0,False
14187,A,H8000,ZA,TJ,UA,0.000,0.000,0.000,0.000,0.000,...,0.0,0.000,0.000,0.000,0.000,0.000,Ukraine,UKR,804.0,False
14188,A,H8000,ZA,TJ,UK,0.000,0.000,0.000,0.000,0.000,...,0.0,0.000,0.000,0.000,0.000,:,NaN,NaN,NaN,False
14189,A,H8000,ZA,TJ,XK,:,:,:,:,:,...,0.0,0.000,0.000,0.000,0.000,0.000,NaN,NaN,NaN,False

In [9]:
# rename Alpha 2 code in countries df to 'Partner_country'
countries.rename({'Alpha_2_code': 'partner'}, axis=1, inplace=True)
countries

            Country partner Alpha_3_code  Numeric
0       Afghanistan      AF          AFG      4.0
1           Albania      AL          ALB      8.0
2           Algeria      DZ          DZA     12.0
3    American Samoa      AS          ASM     16.0
4           Andorra      AD          AND     20.0
..              ...     ...          ...      ...
244  Western Sahara      EH          ESH    732.0
245           Yemen      YE          YEM    887.0
246          Zambia      ZM          ZMB    894.0
247        Zimbabwe      ZW          ZWE    716.0
248  Ã
land Islands      AX          ALA    248.0

[247 rows x 4 columns]

In [10]:
# create new df EU_imports by merging imports and countries to get the name of the partner countries
EU_imports = imports.merge(countries, on='partner', how='left')
EU_imports

,freq,siec,partner,unit,Alpha_2_code,1990,1991,1992,1993,1994,...,2018,2019,2020,Country_x,Alpha_3_code_x,Numeric_x,EU?,Country_y,Alpha_3_code_y,Numeric_y
0,A,E7000,AD,GWH,AL,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,Albania,ALB,8.0,False,Andorra,AND,20.0
1,A,E7000,AD,GWH,AT,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,Austria,AUT,40.0,True,Andorra,AND,20.0
2,A,E7000,AD,GWH,BA,:,:,:,:,:,...,0.000,0.000,0.000,Bosnia and Herzegovina,BIH,70.0,False,Andorra,AND,20.0
3,A,E7000,AD,GWH,BE,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,Belgium,BEL,56.0,True,Andorra,AND,20.0
4,A,E7000,AD,GWH,BG,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,Bulgaria,BGR,100.0,True,Andorra,AND,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14185,A,H8000,ZA,TJ,SK,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,Slovakia,SVK,703.0,True,South Africa,ZAF,710.0
14186,A,H8000,ZA,TJ,TR,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,Turkey,TUR,792.0,False,South Africa,ZAF,710.0
14187,A,H8000,ZA,TJ,UA,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,Ukraine,UKR,804.0,False,South Africa,ZAF,710.0
14188,A,H8000,ZA,TJ,UK,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,:,NaN,NaN,NaN,False,South Africa,ZAF,710.0
14189,A,H8000,ZA,TJ,XK,:,:,:,:,:,...,0.000,0.000,0.000,NaN,NaN,NaN,False,South Africa,ZAF,710.0

## Rearrange columns

In [11]:
EU_imports.columns

Index(['freq', 'siec', 'partner', 'unit', 'Alpha_2_code', '1990', '1991',
       '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000',
       '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019', '2020', 'Country_x', 'Alpha_3_code_x', 'Numeric_x', 'EU?',
       'Country_y', 'Alpha_3_code_y', 'Numeric_y'],
      dtype='object')

In [12]:
EU_imports = EU_imports[['Alpha_2_code', 'Country_x', 'EU?', 'partner', 'Country_y', 'siec', 'unit',
                         '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
                         '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
                         '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
                         '2017', '2018', '2019', '2020']]
EU_imports

,Alpha_2_code,Country_x,EU?,partner,Country_y,siec,unit,1990,1991,1992,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,AL,Albania,False,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
1,AT,Austria,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
2,BA,Bosnia and Herzegovina,False,AD,Andorra,E7000,GWH,:,:,:,...,:,:,:,0.0,0.0,0.000,0.000,0.000,0.000,0.000
3,BE,Belgium,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
4,BG,Bulgaria,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14185,SK,Slovakia,True,ZA,South Africa,H8000,TJ,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
14186,TR,Turkey,False,ZA,South Africa,H8000,TJ,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
14187,UA,Ukraine,False,ZA,South Africa,H8000,TJ,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
14188,UK,NaN,False,ZA,South Africa,H8000,TJ,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,:
14189,XK,NaN,False,ZA,South Africa,H8000,TJ,:,:,:,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000

In [13]:
EU_imports.rename({'Country_x': 'Country', 'Country_y': 'Partner_country'}, axis=1, inplace=True)
EU_imports

/Users/frankpeluso/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,Alpha_2_code,Country,EU?,partner,Partner_country,siec,unit,1990,1991,1992,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,AL,Albania,False,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
1,AT,Austria,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
2,BA,Bosnia and Herzegovina,False,AD,Andorra,E7000,GWH,:,:,:,...,:,:,:,0.0,0.0,0.000,0.000,0.000,0.000,0.000
3,BE,Belgium,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
4,BG,Bulgaria,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14185,SK,Slovakia,True,ZA,South Africa,H8000,TJ,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
14186,TR,Turkey,False,ZA,South Africa,H8000,TJ,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
14187,UA,Ukraine,False,ZA,South Africa,H8000,TJ,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
14188,UK,NaN,False,ZA,South Africa,H8000,TJ,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,:
14189,XK,NaN,False,ZA,South Africa,H8000,TJ,:,:,:,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000

In [14]:
# Filter out non-EU importing countries
EU_imports_filtered = EU_imports[EU_imports['EU?'] == True]
EU_imports_filtered

,Alpha_2_code,Country,EU?,partner,Partner_country,siec,unit,1990,1991,1992,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
1,AT,Austria,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
3,BE,Belgium,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
4,BG,Bulgaria,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
5,CY,Cyprus,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
6,CZ,Czechia,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14180,PT,Portugal,True,ZA,South Africa,H8000,TJ,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
14181,RO,Romania,True,ZA,South Africa,H8000,TJ,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
14183,SE,Sweden,True,ZA,South Africa,H8000,TJ,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
14184,SI,Slovenia,True,ZA,South Africa,H8000,TJ,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
14185,SK,Slovakia,True,ZA,South Africa,H8000,TJ,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000

In [15]:
EU_imports_filtered = EU_imports_filtered[EU_imports_filtered['siec'] == 'E7000']
EU_imports_filtered

,Alpha_2_code,Country,EU?,partner,Partner_country,siec,unit,1990,1991,1992,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
1,AT,Austria,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
3,BE,Belgium,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
4,BG,Bulgaria,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
5,CY,Cyprus,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
6,CZ,Czechia,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7085,PT,Portugal,True,ZA,South Africa,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
7086,RO,Romania,True,ZA,South Africa,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
7088,SE,Sweden,True,ZA,South Africa,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
7089,SI,Slovenia,True,ZA,South Africa,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
7090,SK,Slovakia,True,ZA,South Africa,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000

In [16]:
EU_imports_filtered = EU_imports_filtered[EU_imports_filtered['unit'] == 'GWH']
EU_imports_filtered

,Alpha_2_code,Country,EU?,partner,Partner_country,siec,unit,1990,1991,1992,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
1,AT,Austria,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
3,BE,Belgium,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
4,BG,Bulgaria,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
5,CY,Cyprus,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
6,CZ,Czechia,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7085,PT,Portugal,True,ZA,South Africa,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
7086,RO,Romania,True,ZA,South Africa,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
7088,SE,Sweden,True,ZA,South Africa,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
7089,SI,Slovenia,True,ZA,South Africa,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
7090,SK,Slovakia,True,ZA,South Africa,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000

In [17]:
EU_imports_filtered.reset_index(drop=True, inplace=True)
EU_imports_filtered

,Alpha_2_code,Country,EU?,partner,Partner_country,siec,unit,1990,1991,1992,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,AT,Austria,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
1,BE,Belgium,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
2,BG,Bulgaria,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
3,CY,Cyprus,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
4,CZ,Czechia,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4450,PT,Portugal,True,ZA,South Africa,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
4451,RO,Romania,True,ZA,South Africa,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
4452,SE,Sweden,True,ZA,South Africa,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
4453,SI,Slovenia,True,ZA,South Africa,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
4454,SK,Slovakia,True,ZA,South Africa,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000

In [18]:
EU_imports_filtered.dtypes

Alpha_2_code        object
Country             object
EU?                   bool
partner             object
Partner_country     object
siec                object
unit                object
1990                object
1991                object
1992                object
1993                object
1994                object
1995                object
1996                object
1997                object
1998                object
1999                object
2000                object
2001                object
2002                object
2003                object
2004                object
2005                object
2006                object
2007                object
2008                object
2009                object
2010                object
2011                object
2012                object
2013                object
2014               float64
2015               float64
2016                object
2017                object
2018                object
2019                object
2020                object
dtype: object

Change data type of years to float

In [19]:
years_columns_type = {'1990': float, '1991': float, '1992': float, '1993': float, '1994': float,
                      '1995': float, '1996': float, '1997': float, '1998': float, '1999': float,
                      '2000': float, '2001': float, '2002': float, '2003': float, '2004': float,
                      '2005': float, '2006': float, '2007': float, '2008': float, '2009': float,
                      '2010': float, '2011': float, '2012': float, '2013': float, '2014': float,
                      '2015': float, '2016': float, '2017': float, '2018': float, '2019': float,
                      '2020': float}
EU_imports_filtered = EU_imports_filtered.astype(years_columns_type)
EU_imports_filtered.dtypes

Alpha_2_code        object
Country             object
EU?                   bool
partner             object
Partner_country     object
siec                object
unit                object
1990               float64
1991               float64
1992               float64
1993               float64
1994               float64
1995               float64
1996               float64
1997               float64
1998               float64
1999               float64
2000               float64
2001               float64
2002               float64
2003               float64
2004               float64
2005               float64
2006               float64
2007               float64
2008               float64
2009               float64
2010               float64
2011               float64
2012               float64
2013               float64
2014               float64
2015               float64
2016               float64
2017               float64
2018               float64
2019               float64
2020               float64
dtype: object

In [20]:
EU_imports_filtered

,Alpha_2_code,Country,EU?,partner,Partner_country,siec,unit,1990,1991,1992,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,AT,Austria,True,AD,Andorra,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,BE,Belgium,True,AD,Andorra,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,BG,Bulgaria,True,AD,Andorra,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,CY,Cyprus,True,AD,Andorra,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,CZ,Czechia,True,AD,Andorra,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4450,PT,Portugal,True,ZA,South Africa,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4451,RO,Romania,True,ZA,South Africa,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4452,SE,Sweden,True,ZA,South Africa,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4453,SI,Slovenia,True,ZA,South Africa,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4454,SK,Slovakia,True,ZA,South Africa,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Group by Country

In [21]:
EU_imports_grouped = EU_imports_filtered
EU_imports_grouped

,Alpha_2_code,Country,EU?,partner,Partner_country,siec,unit,1990,1991,1992,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,AT,Austria,True,AD,Andorra,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,BE,Belgium,True,AD,Andorra,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,BG,Bulgaria,True,AD,Andorra,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,CY,Cyprus,True,AD,Andorra,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,CZ,Czechia,True,AD,Andorra,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4450,PT,Portugal,True,ZA,South Africa,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4451,RO,Romania,True,ZA,South Africa,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4452,SE,Sweden,True,ZA,South Africa,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4453,SI,Slovenia,True,ZA,South Africa,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4454,SK,Slovakia,True,ZA,South Africa,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
# create new column 'Partner_EU?' and fill with True/False based on whether Partner_country is in EU
EU_imports_grouped['Partner_EU'] = EU_imports_grouped['partner'].isin(EU_countries['Alpha_2_code'])
EU_imports_grouped

,Alpha_2_code,Country,EU?,partner,Partner_country,siec,unit,1990,1991,1992,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Partner_EU
0,AT,Austria,True,AD,Andorra,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False
1,BE,Belgium,True,AD,Andorra,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False
2,BG,Bulgaria,True,AD,Andorra,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False
3,CY,Cyprus,True,AD,Andorra,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False
4,CZ,Czechia,True,AD,Andorra,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4450,PT,Portugal,True,ZA,South Africa,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False
4451,RO,Romania,True,ZA,South Africa,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False
4452,SE,Sweden,True,ZA,South Africa,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False
4453,SI,Slovenia,True,ZA,South Africa,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False
4454,SK,Slovakia,True,ZA,South Africa,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False

In [23]:
EU_imports_grouped['Partner_EU'].unique()

array([False,  True])

In [24]:
EU_imports_grouped = EU_imports_grouped[['Country', 'Partner_EU', 'Partner_country', '1990', '1991', '1992', '1993',
                                         '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001',
                                         '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
                                         '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
                                         '2018', '2019', '2020']]
EU_imports_grouped

,Country,Partner_EU,Partner_country,1990,1991,1992,1993,1994,1995,1996,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Austria,False,Andorra,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Belgium,False,Andorra,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Bulgaria,False,Andorra,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Cyprus,False,Andorra,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Czechia,False,Andorra,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4450,Portugal,False,South Africa,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4451,Romania,False,South Africa,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4452,Sweden,False,South Africa,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4453,Slovenia,False,South Africa,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4454,Slovakia,False,South Africa,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
EU_grouped = EU_imports_grouped.groupby(['Country', 'Partner_EU', 'Partner_country']).sum()

EU_grouped

                                    1990  1991  1992  1993  1994  1995  1996  \
Country Partner_EU Partner_country
Austria False      Albania           0.0   0.0   0.0   0.0   0.0   0.0   0.0
                   Algeria           0.0   0.0   0.0   0.0   0.0   0.0   0.0
                   Andorra           0.0   0.0   0.0   0.0   0.0   0.0   0.0
                   Angola            0.0   0.0   0.0   0.0   0.0   0.0   0.0
                   Argentina         0.0   0.0   0.0   0.0   0.0   0.0   0.0
...                                  ...   ...   ...   ...   ...   ...   ...
Sweden  True       Romania           0.0   0.0   0.0   0.0   0.0   0.0   0.0
                   Slovakia          0.0   0.0   0.0   0.0   0.0   0.0   0.0
                   Slovenia          0.0   0.0   0.0   0.0   0.0   0.0   0.0
                   Spain             0.0   0.0   0.0   0.0   0.0   0.0   0.0
                   Sweden            0.0   0.0   0.0   0.0   0.0   0.0   0.0

                                    1997  1998  1999  ...  2011  2012  2013  \
Country Partner_EU Partner_country                    ...
Austria False      Albania           0.0   0.0   0.0  ...   0.0   0.0   0.0
                   Algeria           0.0   0.0   0.0  ...   0.0   0.0   0.0
                   Andorra           0.0   0.0   0.0  ...   0.0   0.0   0.0
                   Angola            0.0   0.0   0.0  ...   0.0   0.0   0.0
                   Argentina         0.0   0.0   0.0  ...   0.0   0.0   0.0
...                                  ...   ...   ...  ...   ...   ...   ...
Sweden  True       Romania           0.0   0.0   0.0  ...   0.0   0.0   0.0
                   Slovakia          0.0   0.0   0.0  ...   0.0   0.0   0.0
                   Slovenia          0.0   0.0   0.0  ...   0.0   0.0   0.0
                   Spain             0.0   0.0   0.0  ...   0.0   0.0   0.0
                   Sweden            0.0   0.0   0.0  ...   0.0   0.0   0.0

                                    2014  2015  2016  2017  2018  2019  2020
Country Partner_EU Partner_country
Austria False      Albania           0.0   0.0   0.0   0.0   0.0   0.0   0.0
                   Algeria           0.0   0.0   0.0   0.0   0.0   0.0   0.0
                   Andorra           0.0   0.0   0.0   0.0   0.0   0.0   0.0
                   Angola            0.0   0.0   0.0   0.0   0.0   0.0   0.0
                   Argentina         0.0   0.0   0.0   0.0   0.0   0.0   0.0
...                                  ...   ...   ...   ...   ...   ...   ...
Sweden  True       Romania           0.0   0.0   0.0   0.0   0.0   0.0   0.0
                   Slovakia          0.0   0.0   0.0   0.0   0.0   0.0   0.0
                   Slovenia          0.0   0.0   0.0   0.0   0.0   0.0   0.0
                   Spain             0.0   0.0   0.0   0.0   0.0   0.0   0.0
                   Sweden            0.0   0.0   0.0   0.0   0.0   0.0   0.0

[4131 rows x 31 columns]

In [26]:
EU_grouped = EU_grouped[~(EU_grouped==0).all(axis=1)]
EU_grouped

                                         1990       1991       1992  \
Country Partner_EU Partner_country
Austria False      Switzerland        76000.0   494000.0   394000.0
        True       Czechia          2975000.0  2910000.0  3299000.0
                   Germany          3559000.0  4548000.0  4960000.0
                   Hungary           212000.0   348000.0   483000.0
                   Italy                  0.0        0.0     6000.0
...                                       ...        ...        ...
Sweden  True       Denmark           219000.0   815000.0  1474000.0
                   Finland           360000.0   662000.0   691000.0
                   Germany                0.0        0.0        0.0
                   Lithuania              0.0        0.0        0.0
                   Poland                 0.0        0.0        0.0

                                         1993       1994       1995  \
Country Partner_EU Partner_country
Austria False      Switzerland       610000.0   973000.0   290000.0
        True       Czechia          2765000.0  2755000.0  2081000.0
                   Germany          4196000.0  4004000.0  4580000.0
                   Hungary           461000.0   404000.0   270000.0
                   Italy                  0.0        0.0     1000.0
...                                       ...        ...        ...
Sweden  True       Denmark          1312000.0  1931000.0   627000.0
                   Finland           379000.0   298000.0   213000.0
                   Germany                0.0    14000.0    20000.0
                   Lithuania              0.0        0.0        0.0
                   Poland                 0.0        0.0        0.0

                                         1996       1997       1998  \
Country Partner_EU Partner_country
Austria False      Switzerland       371000.0   420000.0   204000.0
        True       Czechia          2227000.0  2608000.0  2777000.0
                   Germany          5985000.0  5176000.0  6000000.0
                   Hungary           694000.0   757000.0  1276000.0
                   Italy                  0.0        0.0        0.0
...                                       ...        ...        ...
Sweden  True       Denmark          8668000.0  5243000.0  2155000.0
                   Finland          2151000.0   932000.0   852000.0
                   Germany          1011000.0   400000.0    88000.0
                   Lithuania              0.0        0.0        0.0
                   Poland                 0.0        0.0        0.0

                                         1999  ...        2011        2012  \
Country Partner_EU Partner_country             ...
Austria False      Switzerland       376000.0  ...    101922.0    127149.0
        True       Czechia          3635000.0  ...  10054415.0  10308122.0
                   Germany          5573000.0  ...  13706626.0  12525856.0
                   Hungary          2018000.0  ...    702139.0    334605.0
                   Italy                  0.0  ...     11140.0     23429.0
...                                       ...  ...         ...         ...
Sweden  True       Denmark          1611000.0  ...   2537000.0   1316000.0
                   Finland           847000.0  ...   3035000.0     23000.0
                   Germany            92000.0  ...    600000.0    259000.0
                   Lithuania              0.0  ...         0.0         0.0
                   Poland                 0.0  ...    277000.0    129000.0

                                          2013        2014        2015  \
Country Partner_EU Partner_country
Austria False      Switzerland        254164.0    547904.0    269870.0
        True       Czechia          10508306.0  11952611.0  12340895.0
                   Germany          12382059.0  13142500.0  16155647.0
                   Hungary           1013631.0    547007.0    525491.0
                   Italy               20186.0     27493.0     39707.0
...                                        ...         ...         ...
Sweden  True       Denmark           3806000.0   3153000.0   1907000.0
                   Finland            204000.0         0.0      2000.0
                   Germany            998000.0    736000.0    143000.0
                   Lithuania               0.0         0.0         0.0
                   Poland             762000.0    107000.0     20000.0

                                          2016        2017        2018  \
Country Partner_EU Partner_country
Austria False      Switzerland        391281.0    463061.0   1200032.0
        True       Czechia          10255121.0  11005785.0  10864000.0
                   Germany          14854492.0  17509117.0  14998000.0
                   Hungary            431724.0    134420.0    591000.0
                   Italy               67687.0    120412.0     25000.0
...                                        ...         ...         ...
Sweden  True       Denmark           4015000.0   2203000.0   2795000.0
                   Finland             60000.0     88000.0    179000.0
                   Germany            798000.0    251000.0    452000.0
                   Lithuania          121000.0    113000.0    218000.0
                   Poland             175000.0    150000.0    375000.0

                                          2019        2020
Country Partner_EU Partner_country
Austria False      Switzerland       1610522.0   1734078.0
        True       Czechia           9431534.0   8687133.0
                   Germany          14796716.0  13778283.0
                   Hungary             38869.0    101816.0
                   Italy                1874.0      9776.0
...                                        ...         ...
Sweden  True       Denmark           2805000.0   1648000.0
                   Finland             50000.0      1000.0
                   Germany            564000.0    386000.0
                   Lithuania          283000.0     95000.0
                   Poland             188000.0     12000.0

[138 rows x 31 columns]

In [27]:
s = pd.concat([EU_grouped, EU_grouped.sum(level=[0,1]).assign(Partner_EU='Total').set_index('Partner_EU', append=True)]).sort_index(level=[0,1,2])
s

/var/folders/w_/gltqg5356fv2085dww7dq0x40000gn/T/ipykernel_13893/2038641636.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  s = pd.concat([EU_grouped, EU_grouped.sum(level=[0,1]).assign(Partner_EU='Total').set_index('Partner_EU', append=True)]).sort_index(level=[0,1,2])

                                         1990       1991       1992  \
Country Partner_EU Partner_country
Austria False      Switzerland        76000.0   494000.0   394000.0
                   Total              76000.0   494000.0   394000.0
        True       Czechia          2975000.0  2910000.0  3299000.0
                   Germany          3559000.0  4548000.0  4960000.0
                   Hungary           212000.0   348000.0   483000.0
...                                       ...        ...        ...
Sweden  True       Finland           360000.0   662000.0   691000.0
                   Germany                0.0        0.0        0.0
                   Lithuania              0.0        0.0        0.0
                   Poland                 0.0        0.0        0.0
                   Total             579000.0  1477000.0  2165000.0

                                         1993       1994       1995  \
Country Partner_EU Partner_country
Austria False      Switzerland       610000.0   973000.0   290000.0
                   Total             610000.0   973000.0   290000.0
        True       Czechia          2765000.0  2755000.0  2081000.0
                   Germany          4196000.0  4004000.0  4580000.0
                   Hungary           461000.0   404000.0   270000.0
...                                       ...        ...        ...
Sweden  True       Finland           379000.0   298000.0   213000.0
                   Germany                0.0    14000.0    20000.0
                   Lithuania              0.0        0.0        0.0
                   Poland                 0.0        0.0        0.0
                   Total            1691000.0  2243000.0   860000.0

                                          1996       1997       1998  \
Country Partner_EU Partner_country
Austria False      Switzerland        371000.0   420000.0   204000.0
                   Total              371000.0   420000.0   204000.0
        True       Czechia           2227000.0  2608000.0  2777000.0
                   Germany           5985000.0  5176000.0  6000000.0
                   Hungary            694000.0   757000.0  1276000.0
...                                        ...        ...        ...
Sweden  True       Finland           2151000.0   932000.0   852000.0
                   Germany           1011000.0   400000.0    88000.0
                   Lithuania               0.0        0.0        0.0
                   Poland                  0.0        0.0        0.0
                   Total            11830000.0  6575000.0  3095000.0

                                         1999  ...        2011        2012  \
Country Partner_EU Partner_country             ...
Austria False      Switzerland       376000.0  ...    101922.0    127149.0
                   Total             376000.0  ...    101922.0    127149.0
        True       Czechia          3635000.0  ...  10054415.0  10308122.0
                   Germany          5573000.0  ...  13706626.0  12525856.0
                   Hungary          2018000.0  ...    702139.0    334605.0
...                                       ...  ...         ...         ...
Sweden  True       Finland           847000.0  ...   3035000.0     23000.0
                   Germany            92000.0  ...    600000.0    259000.0
                   Lithuania              0.0  ...         0.0         0.0
                   Poland                 0.0  ...    277000.0    129000.0
                   Total            2550000.0  ...   6449000.0   1727000.0

                                          2013        2014        2015  \
Country Partner_EU Partner_country
Austria False      Switzerland        254164.0    547904.0    269870.0
                   Total              254164.0    547904.0    269870.0
        True       Czechia          10508306.0  11952611.0  12340895.0
                   Germany          12382059.0  13142500.0  16155647.0
                   Hungary           1013631.0    547007.0    525491.0
...                                        ...         ...         ...
Sweden  True       Finland            204000.0         0.0      2000.0
                   Germany            998000.0    736000.0    143000.0
                   Lithuania               0.0         0.0         0.0
                   Poland             762000.0    107000.0     20000.0
                   Total             5770000.0   3996000.0   2072000.0

                                          2016        2017        2018  \
Country Partner_EU Partner_country
Austria False      Switzerland        391281.0    463061.0   1200032.0
                   Total              391281.0    463061.0   1200032.0
        True       Czechia          10255121.0  11005785.0  10864000.0
                   Germany          14854492.0  17509117.0  14998000.0
                   Hungary            431724.0    134420.0    591000.0
...                                        ...         ...         ...
Sweden  True       Finland             60000.0     88000.0    179000.0
                   Germany            798000.0    251000.0    452000.0
                   Lithuania          121000.0    113000.0    218000.0
                   Poland             175000.0    150000.0    375000.0
                   Total             5169000.0   2805000.0   4019000.0

                                          2019        2020
Country Partner_EU Partner_country
Austria False      Switzerland       1610522.0   1734078.0
                   Total             1610522.0   1734078.0
        True       Czechia           9431534.0   8687133.0
                   Germany          14796716.0  13778283.0
                   Hungary             38869.0    101816.0
...                                        ...         ...
Sweden  True       Finland             50000.0      1000.0
                   Germany            564000.0    386000.0
                   Lithuania          283000.0     95000.0
                   Poland             188000.0     12000.0
                   Total             3890000.0   2142000.0

[183 rows x 31 columns]

In [28]:
print(s)

                                         1990       1991       1992  \
Country Partner_EU Partner_country
Austria False      Switzerland        76000.0   494000.0   394000.0
                   Total              76000.0   494000.0   394000.0
        True       Czechia          2975000.0  2910000.0  3299000.0
                   Germany          3559000.0  4548000.0  4960000.0
                   Hungary           212000.0   348000.0   483000.0
...                                       ...        ...        ...
Sweden  True       Finland           360000.0   662000.0   691000.0
                   Germany                0.0        0.0        0.0
                   Lithuania              0.0        0.0        0.0
                   Poland                 0.0        0.0        0.0
                   Total             579000.0  1477000.0  2165000.0

                                         1993       1994       1995  \
Country Partner_EU Partner_country
Austria False      Switzerland       610000.0   973000.0   290000.0
                   Total             610000.0   973000.0   290000.0
        True       Czechia          2765000.0  2755000.0  2081000.0
                   Germany          4196000.0  4004000.0  4580000.0
                   Hungary           461000.0   404000.0   270000.0
...                                       ...        ...        ...
Sweden  True       Finland           379000.0   298000.0   213000.0
                   Germany                0.0    14000.0    20000.0
                   Lithuania              0.0        0.0        0.0
                   Poland                 0.0        0.0        0.0
                   Total            1691000.0  2243000.0   860000.0

                                          1996       1997       1998  \
Country Partner_EU Partner_country
Austria False      Switzerland        371000.0   420000.0   204000.0
                   Total              371000.0   420000.0   204000.0
        True       Czechia           2227000.0  2608000.0  2777000.0
                   Germany           5985000.0  5176000.0  6000000.0
                   Hungary            694000.0   757000.0  1276000.0
...                                        ...        ...        ...
Sweden  True       Finland           2151000.0   932000.0   852000.0
                   Germany           1011000.0   400000.0    88000.0
                   Lithuania               0.0        0.0        0.0
                   Poland                  0.0        0.0        0.0
                   Total            11830000.0  6575000.0  3095000.0

                                         1999  ...        2011        2012  \
Country Partner_EU Partner_country             ...
Austria False      Switzerland       376000.0  ...    101922.0    127149.0
                   Total             376000.0  ...    101922.0    127149.0
        True       Czechia          3635000.0  ...  10054415.0  10308122.0
                   Germany          5573000.0  ...  13706626.0  12525856.0
                   Hungary          2018000.0  ...    702139.0    334605.0
...                                       ...  ...         ...         ...
Sweden  True       Finland           847000.0  ...   3035000.0     23000.0
                   Germany            92000.0  ...    600000.0    259000.0
                   Lithuania              0.0  ...         0.0         0.0
                   Poland                 0.0  ...    277000.0    129000.0
                   Total            2550000.0  ...   6449000.0   1727000.0

                                          2013        2014        2015  \
Country Partner_EU Partner_country
Austria False      Switzerland        254164.0    547904.0    269870.0
                   Total              254164.0    547904.0    269870.0
        True       Czechia          10508306.0  11952611.0  12340895.0
                   Germany          12382059.0  13142500.0  16155647.0
                   Hungary           1013631.0    547007.0    525491.0
...                                        ...         ...         ...
Sweden  True       Finland            204000.0         0.0      2000.0
                   Germany            998000.0    736000.0    143000.0
                   Lithuania               0.0         0.0         0.0
                   Poland             762000.0    107000.0     20000.0
                   Total             5770000.0   3996000.0   2072000.0

                                          2016        2017        2018  \
Country Partner_EU Partner_country
Austria False      Switzerland        391281.0    463061.0   1200032.0
                   Total              391281.0    463061.0   1200032.0
        True       Czechia          10255121.0  11005785.0  10864000.0
                   Germany          14854492.0  17509117.0  14998000.0
                   Hungary            431724.0    134420.0    591000.0
...                                        ...         ...         ...
Sweden  True       Finland             60000.0     88000.0    179000.0
                   Germany            798000.0    251000.0    452000.0
                   Lithuania          121000.0    113000.0    218000.0
                   Poland             175000.0    150000.0    375000.0
                   Total             5169000.0   2805000.0   4019000.0

                                          2019        2020
Country Partner_EU Partner_country
Austria False      Switzerland       1610522.0   1734078.0
                   Total             1610522.0   1734078.0
        True       Czechia           9431534.0   8687133.0
                   Germany          14796716.0  13778283.0
                   Hungary             38869.0    101816.0
...                                        ...         ...
Sweden  True       Finland             50000.0      1000.0
                   Germany            564000.0    386000.0
                   Lithuania          283000.0     95000.0
                   Poland             188000.0     12000.0
                   Total             3890000.0   2142000.0

[183 rows x 31 columns]