In [1]:
import pandas as pd

In [2]:
countries = pd.read_csv('../raw_data/CountryCodes.csv', encoding = 'unicode_escape')
countries.dropna(inplace=True)
countries.head()

          Country Alpha_2_code Alpha_3_code  Numeric
0     Afghanistan           AF          AFG      4.0
1         Albania           AL          ALB      8.0
2         Algeria           DZ          DZA     12.0
3  American Samoa           AS          ASM     16.0
4         Andorra           AD          AND     20.0

In [3]:
countries.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 247 entries, 0 to 248
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       247 non-null    object
 1   Alpha_2_code  247 non-null    object
 2   Alpha_3_code  247 non-null    object
 3   Numeric       247 non-null    float64
dtypes: float64(1), object(3)
memory usage: 9.6+ KB

In [4]:
countries[countries['Alpha_2_code'].isnull()==True]

Empty DataFrame
Columns: [Country, Alpha_2_code, Alpha_3_code, Numeric]
Index: []

EU COUNTRIES

In [5]:
EU_countries = pd.DataFrame.from_dict([{'Belgium': 'BE', 'Bulgaria': 'BG', 'Czechia': 'CZ', 'Denmark': 'DK', 'Germany': 'DE', 'Estonia': 'EE', 'Ireland': 'IE', 'Greece': 'EL',
                'Spain': 'ES', 'France': 'FR', 'Croatia': 'HR', 'Italy': 'IT', 'Cyprus': 'CY', 'Latvia': 'LV', 'Lithuania': 'LT', 'Luxembourg': 'LU', 
                'Hungary': 'HU', 'Malta': 'MT', 'Netherlands': 'NL', 'Austria': 'AT', 'Poland': 'PL', 'Portugal': 'PT', 'Romania': 'RO', 'Slovenia': 'SI',
                'Slovakia': 'SK', 'Finland': 'FI', 'Sweden': 'SE'}])
EU_countries = EU_countries.T.reset_index()
EU_countries.rename(columns={'index': 'EU_country', 0: 'Alpha_2_code'}, inplace=True)
EU_countries

     EU_country Alpha_2_code
0       Belgium           BE
1      Bulgaria           BG
2       Czechia           CZ
3       Denmark           DK
4       Germany           DE
5       Estonia           EE
6       Ireland           IE
7        Greece           EL
8         Spain           ES
9        France           FR
10      Croatia           HR
11        Italy           IT
12       Cyprus           CY
13       Latvia           LV
14    Lithuania           LT
15   Luxembourg           LU
16      Hungary           HU
17        Malta           MT
18  Netherlands           NL
19      Austria           AT
20       Poland           PL
21     Portugal           PT
22      Romania           RO
23     Slovenia           SI
24     Slovakia           SK
25      Finland           FI
26       Sweden           SE

IMPORTS BY COUNTRY

In [6]:
imports = pd.read_csv('../raw_data/ElecImportsByPartnerCountry.csv', encoding = 'unicode_escape')
imports.head()

,freq,siec,partner,unit,Alpha_2_code,1990,1991,1992,1993,1994,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,A,E7000,AD,GWH,AL,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
1,A,E7000,AD,GWH,AT,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
2,A,E7000,AD,GWH,BA,:,:,:,:,:,...,:,:,:,0.0,0.0,0.000,0.000,0.000,0.000,0.000
3,A,E7000,AD,GWH,BE,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
4,A,E7000,AD,GWH,BG,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000

In [7]:
imports.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14190 entries, 0 to 14189
Data columns (total 36 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   freq          14190 non-null  object
 1   siec          14190 non-null  object
 2   partner       14104 non-null  object
 3   unit          14190 non-null  object
 4   Alpha_2_code  14190 non-null  object
 5   1990          14190 non-null  object
 6   1991          14190 non-null  object
 7   1992          14190 non-null  object
 8   1993          14190 non-null  object
 9   1994          14190 non-null  object
 10  1995          14190 non-null  object
 11  1996          14190 non-null  object
 12  1997          14190 non-null  object
 13  1998          14190 non-null  object
 14  1999          14190 non-null  object
 15  2000          14190 non-null  object
 16  2001          14190 non-null  object
 17  2002          14190 non-null  object
 18  2003          14190 non-null  object
 19  2004          14190 non-null  object
 20  2005          14190 non-null  object
 21  2006          14190 non-null  object
 22  2007          14190 non-null  object
 23  2008          14190 non-null  object
 24  2009          14190 non-null  object
 25  2010          14190 non-null  object
 26  2011          14190 non-null  object
 27  2012          14190 non-null  object
 28  2013          14190 non-null  object
 29  2014          14190 non-null  float64
 30  2015          14190 non-null  float64
 31  2016          14190 non-null  object
 32  2017          14190 non-null  object
 33  2018          14190 non-null  object
 34  2019          14190 non-null  object
 35  2020          14190 non-null  object
dtypes: float64(2), object(34)
memory usage: 3.9+ MB

In [8]:
imports[imports['Alpha_2_code'].isnull()==True]

Empty DataFrame
Columns: [freq, siec, partner, unit, Alpha_2_code, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
Index: []

[0 rows x 36 columns]

In [9]:
imports.describe()

               2014          2015
count  1.419000e+04  1.419000e+04
mean   1.498453e+05  1.588574e+05
std    4.092433e+06  4.341029e+06
min    0.000000e+00  0.000000e+00
25%    0.000000e+00  0.000000e+00
50%    0.000000e+00  0.000000e+00
75%    0.000000e+00  0.000000e+00
max    3.636869e+08  3.876386e+08

In [10]:
imports['siec'].unique()

array(['E7000', 'H8000'], dtype=object)

In [11]:
imports = imports.merge(countries, on='Alpha_2_code', how='left')
imports['EU?'] = imports['Alpha_2_code'].isin(EU_countries['Alpha_2_code'])
imports

,freq,siec,partner,unit,Alpha_2_code,1990,1991,1992,1993,1994,...,2015,2016,2017,2018,2019,2020,Country,Alpha_3_code,Numeric,EU?
0,A,E7000,AD,GWH,AL,0.000,0.000,0.000,0.000,0.000,...,0.0,0.000,0.000,0.000,0.000,0.000,Albania,ALB,8.0,False
1,A,E7000,AD,GWH,AT,0.000,0.000,0.000,0.000,0.000,...,0.0,0.000,0.000,0.000,0.000,0.000,Austria,AUT,40.0,True
2,A,E7000,AD,GWH,BA,:,:,:,:,:,...,0.0,0.000,0.000,0.000,0.000,0.000,Bosnia and Herzegovina,BIH,70.0,False
3,A,E7000,AD,GWH,BE,0.000,0.000,0.000,0.000,0.000,...,0.0,0.000,0.000,0.000,0.000,0.000,Belgium,BEL,56.0,True
4,A,E7000,AD,GWH,BG,0.000,0.000,0.000,0.000,0.000,...,0.0,0.000,0.000,0.000,0.000,0.000,Bulgaria,BGR,100.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14185,A,H8000,ZA,TJ,SK,0.000,0.000,0.000,0.000,0.000,...,0.0,0.000,0.000,0.000,0.000,0.000,Slovakia,SVK,703.0,True
14186,A,H8000,ZA,TJ,TR,0.000,0.000,0.000,0.000,0.000,...,0.0,0.000,0.000,0.000,0.000,0.000,Turkey,TUR,792.0,False
14187,A,H8000,ZA,TJ,UA,0.000,0.000,0.000,0.000,0.000,...,0.0,0.000,0.000,0.000,0.000,0.000,Ukraine,UKR,804.0,False
14188,A,H8000,ZA,TJ,UK,0.000,0.000,0.000,0.000,0.000,...,0.0,0.000,0.000,0.000,0.000,:,NaN,NaN,NaN,False
14189,A,H8000,ZA,TJ,XK,:,:,:,:,:,...,0.0,0.000,0.000,0.000,0.000,0.000,NaN,NaN,NaN,False

In [12]:
imports = imports[['freq', 'siec', 'partner', 'unit', 'Country', 'EU?', 'Alpha_2_code', 'Alpha_3_code', '1990', '1991',
       '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000',
       '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019', '2020']]
imports

,freq,siec,partner,unit,Country,EU?,Alpha_2_code,Alpha_3_code,1990,1991,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,A,E7000,AD,GWH,Albania,False,AL,ALB,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
1,A,E7000,AD,GWH,Austria,True,AT,AUT,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
2,A,E7000,AD,GWH,Bosnia and Herzegovina,False,BA,BIH,:,:,...,:,:,:,0.0,0.0,0.000,0.000,0.000,0.000,0.000
3,A,E7000,AD,GWH,Belgium,True,BE,BEL,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
4,A,E7000,AD,GWH,Bulgaria,True,BG,BGR,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14185,A,H8000,ZA,TJ,Slovakia,True,SK,SVK,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
14186,A,H8000,ZA,TJ,Turkey,False,TR,TUR,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
14187,A,H8000,ZA,TJ,Ukraine,False,UA,UKR,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
14188,A,H8000,ZA,TJ,NaN,False,UK,NaN,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,:
14189,A,H8000,ZA,TJ,NaN,False,XK,NaN,:,:,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000

In [13]:
#imports.set_index('partner', inplace=True)
imports

,freq,siec,partner,unit,Country,EU?,Alpha_2_code,Alpha_3_code,1990,1991,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,A,E7000,AD,GWH,Albania,False,AL,ALB,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
1,A,E7000,AD,GWH,Austria,True,AT,AUT,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
2,A,E7000,AD,GWH,Bosnia and Herzegovina,False,BA,BIH,:,:,...,:,:,:,0.0,0.0,0.000,0.000,0.000,0.000,0.000
3,A,E7000,AD,GWH,Belgium,True,BE,BEL,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
4,A,E7000,AD,GWH,Bulgaria,True,BG,BGR,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14185,A,H8000,ZA,TJ,Slovakia,True,SK,SVK,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
14186,A,H8000,ZA,TJ,Turkey,False,TR,TUR,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
14187,A,H8000,ZA,TJ,Ukraine,False,UA,UKR,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
14188,A,H8000,ZA,TJ,NaN,False,UK,NaN,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,:
14189,A,H8000,ZA,TJ,NaN,False,XK,NaN,:,:,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000

In [14]:
countries.rename({'Alpha_2_code':'partner'}, axis=1, inplace=True)
countries

            Country partner Alpha_3_code  Numeric
0       Afghanistan      AF          AFG      4.0
1           Albania      AL          ALB      8.0
2           Algeria      DZ          DZA     12.0
3    American Samoa      AS          ASM     16.0
4           Andorra      AD          AND     20.0
..              ...     ...          ...      ...
244  Western Sahara      EH          ESH    732.0
245           Yemen      YE          YEM    887.0
246          Zambia      ZM          ZMB    894.0
247        Zimbabwe      ZW          ZWE    716.0
248  Ã
land Islands      AX          ALA    248.0

[247 rows x 4 columns]

In [15]:
EU_imports = imports.merge(countries, on='partner', how='left')
EU_imports

,freq,siec,partner,unit,Country_x,EU?,Alpha_2_code,Alpha_3_code_x,1990,1991,...,2014,2015,2016,2017,2018,2019,2020,Country_y,Alpha_3_code_y,Numeric
0,A,E7000,AD,GWH,Albania,False,AL,ALB,0.000,0.000,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000,Andorra,AND,20.0
1,A,E7000,AD,GWH,Austria,True,AT,AUT,0.000,0.000,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000,Andorra,AND,20.0
2,A,E7000,AD,GWH,Bosnia and Herzegovina,False,BA,BIH,:,:,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000,Andorra,AND,20.0
3,A,E7000,AD,GWH,Belgium,True,BE,BEL,0.000,0.000,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000,Andorra,AND,20.0
4,A,E7000,AD,GWH,Bulgaria,True,BG,BGR,0.000,0.000,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000,Andorra,AND,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14185,A,H8000,ZA,TJ,Slovakia,True,SK,SVK,0.000,0.000,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000,South Africa,ZAF,710.0
14186,A,H8000,ZA,TJ,Turkey,False,TR,TUR,0.000,0.000,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000,South Africa,ZAF,710.0
14187,A,H8000,ZA,TJ,Ukraine,False,UA,UKR,0.000,0.000,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000,South Africa,ZAF,710.0
14188,A,H8000,ZA,TJ,NaN,False,UK,NaN,0.000,0.000,...,0.0,0.0,0.000,0.000,0.000,0.000,:,South Africa,ZAF,710.0
14189,A,H8000,ZA,TJ,NaN,False,XK,NaN,:,:,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000,South Africa,ZAF,710.0

In [16]:
EU_imports_selected = EU_imports[EU_imports['Country_y'].isnull()]
EU_imports_selected

,freq,siec,partner,unit,Country_x,EU?,Alpha_2_code,Alpha_3_code_x,1990,1991,...,2014,2015,2016,2017,2018,2019,2020,Country_y,Alpha_3_code_y,Numeric
86,A,E7000,AFR_OTH,GWH,Albania,False,AL,ALB,0.000,0.000,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000,NaN,NaN,NaN
87,A,E7000,AFR_OTH,GWH,Austria,True,AT,AUT,0.000,0.000,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000,NaN,NaN,NaN
88,A,E7000,AFR_OTH,GWH,Bosnia and Herzegovina,False,BA,BIH,:,:,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000,NaN,NaN,NaN
89,A,E7000,AFR_OTH,GWH,Belgium,True,BE,BEL,0.000,0.000,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000,NaN,NaN,NaN
90,A,E7000,AFR_OTH,GWH,Bulgaria,True,BG,BGR,0.000,0.000,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14099,A,H8000,XK,TJ,Slovakia,True,SK,SVK,0.000,0.000,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000,NaN,NaN,NaN
14100,A,H8000,XK,TJ,Turkey,False,TR,TUR,0.000,0.000,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000,NaN,NaN,NaN
14101,A,H8000,XK,TJ,Ukraine,False,UA,UKR,0.000,0.000,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000,NaN,NaN,NaN
14102,A,H8000,XK,TJ,NaN,False,UK,NaN,0.000,0.000,...,0.0,0.0,0.000,0.000,0.000,0.000,:,NaN,NaN,NaN
14103,A,H8000,XK,TJ,NaN,False,XK,NaN,:,:,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000,NaN,NaN,NaN

In [17]:
EU_imports_selected['partner'].unique()

array(['AFR_OTH', 'AME_OTH', 'ASI_NME_OTH', 'ASI_OTH', 'EUR_OTH',
       'EX_SU_OTH', 'ID', nan, 'NSP', 'TOTAL', 'UK', 'XK'], dtype=object)

In [18]:
EU_imports = EU_imports.drop(['Alpha_3_code_y', 'Numeric'], axis=1)
EU_imports

,freq,siec,partner,unit,Country_x,EU?,Alpha_2_code,Alpha_3_code_x,1990,1991,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Country_y
0,A,E7000,AD,GWH,Albania,False,AL,ALB,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,Andorra
1,A,E7000,AD,GWH,Austria,True,AT,AUT,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,Andorra
2,A,E7000,AD,GWH,Bosnia and Herzegovina,False,BA,BIH,:,:,...,:,:,0.0,0.0,0.000,0.000,0.000,0.000,0.000,Andorra
3,A,E7000,AD,GWH,Belgium,True,BE,BEL,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,Andorra
4,A,E7000,AD,GWH,Bulgaria,True,BG,BGR,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,Andorra
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14185,A,H8000,ZA,TJ,Slovakia,True,SK,SVK,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,South Africa
14186,A,H8000,ZA,TJ,Turkey,False,TR,TUR,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,South Africa
14187,A,H8000,ZA,TJ,Ukraine,False,UA,UKR,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,South Africa
14188,A,H8000,ZA,TJ,NaN,False,UK,NaN,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,:,South Africa
14189,A,H8000,ZA,TJ,NaN,False,XK,NaN,:,:,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,South Africa

In [19]:
EU_imports.rename({'Country_y':'Partner_country', 'Country_x':'Country', 'Alpha_3_code_x': 'Alpha_3_code'}, axis=1, inplace=True)
EU_imports

,freq,siec,partner,unit,Country,EU?,Alpha_2_code,Alpha_3_code,1990,1991,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Partner_country
0,A,E7000,AD,GWH,Albania,False,AL,ALB,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,Andorra
1,A,E7000,AD,GWH,Austria,True,AT,AUT,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,Andorra
2,A,E7000,AD,GWH,Bosnia and Herzegovina,False,BA,BIH,:,:,...,:,:,0.0,0.0,0.000,0.000,0.000,0.000,0.000,Andorra
3,A,E7000,AD,GWH,Belgium,True,BE,BEL,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,Andorra
4,A,E7000,AD,GWH,Bulgaria,True,BG,BGR,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,Andorra
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14185,A,H8000,ZA,TJ,Slovakia,True,SK,SVK,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,South Africa
14186,A,H8000,ZA,TJ,Turkey,False,TR,TUR,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,South Africa
14187,A,H8000,ZA,TJ,Ukraine,False,UA,UKR,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,South Africa
14188,A,H8000,ZA,TJ,NaN,False,UK,NaN,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,:,South Africa
14189,A,H8000,ZA,TJ,NaN,False,XK,NaN,:,:,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,South Africa

In [20]:
EU_imports = EU_imports[['freq', 'siec', 'Partner_country', 'unit', 'Country', 'EU?', 'Alpha_2_code', 'Alpha_3_code', '1990', '1991',
       '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000',
       '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019', '2020']]
EU_imports

,freq,siec,Partner_country,unit,Country,EU?,Alpha_2_code,Alpha_3_code,1990,1991,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,A,E7000,Andorra,GWH,Albania,False,AL,ALB,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
1,A,E7000,Andorra,GWH,Austria,True,AT,AUT,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
2,A,E7000,Andorra,GWH,Bosnia and Herzegovina,False,BA,BIH,:,:,...,:,:,:,0.0,0.0,0.000,0.000,0.000,0.000,0.000
3,A,E7000,Andorra,GWH,Belgium,True,BE,BEL,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
4,A,E7000,Andorra,GWH,Bulgaria,True,BG,BGR,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14185,A,H8000,South Africa,TJ,Slovakia,True,SK,SVK,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
14186,A,H8000,South Africa,TJ,Turkey,False,TR,TUR,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
14187,A,H8000,South Africa,TJ,Ukraine,False,UA,UKR,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
14188,A,H8000,South Africa,TJ,NaN,False,UK,NaN,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,:
14189,A,H8000,South Africa,TJ,NaN,False,XK,NaN,:,:,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000

Filter EU countries

In [21]:
EU_filtered = EU_imports[EU_imports['EU?'] == True]
EU_filtered

,freq,siec,Partner_country,unit,Country,EU?,Alpha_2_code,Alpha_3_code,1990,1991,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
1,A,E7000,Andorra,GWH,Austria,True,AT,AUT,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
3,A,E7000,Andorra,GWH,Belgium,True,BE,BEL,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
4,A,E7000,Andorra,GWH,Bulgaria,True,BG,BGR,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
5,A,E7000,Andorra,GWH,Cyprus,True,CY,CYP,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
6,A,E7000,Andorra,GWH,Czechia,True,CZ,CZE,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14180,A,H8000,South Africa,TJ,Portugal,True,PT,PRT,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
14181,A,H8000,South Africa,TJ,Romania,True,RO,ROU,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
14183,A,H8000,South Africa,TJ,Sweden,True,SE,SWE,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
14184,A,H8000,South Africa,TJ,Slovenia,True,SI,SVN,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
14185,A,H8000,South Africa,TJ,Slovakia,True,SK,SVK,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000

In [22]:
EU_elec = EU_filtered[EU_filtered['unit'] == 'GWH']
EU_elec

,freq,siec,Partner_country,unit,Country,EU?,Alpha_2_code,Alpha_3_code,1990,1991,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
1,A,E7000,Andorra,GWH,Austria,True,AT,AUT,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
3,A,E7000,Andorra,GWH,Belgium,True,BE,BEL,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
4,A,E7000,Andorra,GWH,Bulgaria,True,BG,BGR,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
5,A,E7000,Andorra,GWH,Cyprus,True,CY,CYP,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
6,A,E7000,Andorra,GWH,Czechia,True,CZ,CZE,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7085,A,E7000,South Africa,GWH,Portugal,True,PT,PRT,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
7086,A,E7000,South Africa,GWH,Romania,True,RO,ROU,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
7088,A,E7000,South Africa,GWH,Sweden,True,SE,SWE,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
7089,A,E7000,South Africa,GWH,Slovenia,True,SI,SVN,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
7090,A,E7000,South Africa,GWH,Slovakia,True,SK,SVK,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000

In [23]:
#EU_elec['Partner_country'].isnull().values.any()

In [24]:
EU_elec['siec'].unique()

array(['E7000'], dtype=object)

In [25]:
index_no = EU_elec.columns.get_loc('1990')
index_no

8

In [26]:
#EU_elec['Year_Total'] = EU_elec.iloc[:,8:40].sum(axis=1)
#EU_elec

In [27]:
#EU_elec_imports = EU_elec[EU_elec['Year_Total']>0]
#EU_elec_imports

In [28]:
EU_elec_imports_clean = EU_elec_imports
EU_elec_imports_clean

NameError: name 'EU_elec_imports' is not defined

In [ ]:
EU_clean_imports = EU_elec_imports_clean.reindex(columns=['Country', 'EU?', 'Partner_country', 'siec', 'unit', '1990', '1991',
       '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000',
       '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019', '2020', 'Year_Total', 'freq'])
EU_clean_imports

In [ ]:
EU_clean_imports = EU_clean_imports[EU_clean_imports['Partner_country'].notna()]
EU_clean_imports

In [ ]:
EU_clean_imports.reset_index(drop=True, inplace=True)

In [ ]:
EU_clean_imports

In [ ]:
isinstance(EU_clean_imports, pd.DataFrame)

In [ ]:
EU_clean_imports.dtypes

In [ ]:
years = ['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001',
        '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
        '2014', '2015', '2016', '2017', '2018', '2019', '2020']
EU_clean_imports[years] = EU_clean_imports[years].astype(float)

In [ ]:
EU_clean_imports.dtypes

In [ ]:
EU_clean_imports.groupby(['Country'], as_index=False).sum()

In [ ]:
import seaborn as sns

In [ ]:
sns.heatmap(EU_clean_imports.pivot('Country', 'Partner_country', values='Year_Total'), xticklabels=True, yticklabels=True, linewidths = .1)

In [ ]:
pd.set_option('display.max_rows', 100)
Group = EU_clean_imports.groupby(['Country', 'Partner_country'])
Group.first()

In [ ]:
pd.set_option('display.max_rows', 100)
Partner_Group = EU_clean_imports.groupby(['Partner_country', 'Country'])
Partner_Group.first()