In [1]:
import pandas as pd

In [2]:
countries = pd.read_csv('../raw_data/countries_codes_and_coordinates.csv', encoding = 'unicode_escape')
countries.head()

          Country Alpha_2_code Alpha_3_code
0     Afghanistan           AF          AFG
1         Albania           AL          ALB
2         Algeria           DZ          DZA
3  American Samoa           AS          ASM
4         Andorra           AD          AND

In [3]:
countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       244 non-null    object
 1   Alpha_2_code  243 non-null    object
 2   Alpha_3_code  244 non-null    object
dtypes: object(3)
memory usage: 5.8+ KB

In [4]:
countries[countries['Alpha_2_code'].isnull()==True]

     Country Alpha_2_code Alpha_3_code
150  Namibia          NaN          NAM

EU COUNTRIES

In [5]:
EU_countries = pd.DataFrame.from_dict([{'Belgium': 'BE', 'Bulgaria': 'BG', 'Czechia': 'CZ', 'Denmark': 'DK', 'Germany': 'DE', 'Estonia': 'EE', 'Ireland': 'IE', 'Greece': 'EL',
                'Spain': 'ES', 'France': 'FR', 'Croatia': 'HR', 'Italy': 'IT', 'Cyprus': 'CY', 'Latvia': 'LV', 'Lithuania': 'LT', 'Luxembourg': 'LU', 
                'Hungary': 'HU', 'Malta': 'MT', 'Netherlands': 'NL', 'Austria': 'AT', 'Poland': 'PL', 'Portugal': 'PT', 'Romania': 'RO', 'Slovenia': 'SI',
                'Slovakia': 'SK', 'Finland': 'FI', 'Sweden': 'SE'}])
EU_countries = EU_countries.T.reset_index()
EU_countries.rename(columns={'index': 'EU_country', 0: 'Alpha_2_code'}, inplace=True)
EU_countries

     EU_country Alpha_2_code
0       Belgium           BE
1      Bulgaria           BG
2       Czechia           CZ
3       Denmark           DK
4       Germany           DE
5       Estonia           EE
6       Ireland           IE
7        Greece           EL
8         Spain           ES
9        France           FR
10      Croatia           HR
11        Italy           IT
12       Cyprus           CY
13       Latvia           LV
14    Lithuania           LT
15   Luxembourg           LU
16      Hungary           HU
17        Malta           MT
18  Netherlands           NL
19      Austria           AT
20       Poland           PL
21     Portugal           PT
22      Romania           RO
23     Slovenia           SI
24     Slovakia           SK
25      Finland           FI
26       Sweden           SE

IMPORTS BY COUNTRY

In [6]:
imports = pd.read_csv('../raw_data/ElecImportsByPartnerCountry.csv', encoding = 'unicode_escape')
imports.head()

,freq,siec,partner,unit,Alpha_2_code,1990,1991,1992,1993,1994,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,A,E7000,AD,GWH,AL,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
1,A,E7000,AD,GWH,AT,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
2,A,E7000,AD,GWH,BA,:,:,:,:,:,...,:,:,:,0.0,0.0,0.000,0.000,0.000,0.000,0.000
3,A,E7000,AD,GWH,BE,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
4,A,E7000,AD,GWH,BG,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000

In [7]:
imports.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14190 entries, 0 to 14189
Data columns (total 36 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   freq          14190 non-null  object
 1   siec          14190 non-null  object
 2   partner       14104 non-null  object
 3   unit          14190 non-null  object
 4   Alpha_2_code  14190 non-null  object
 5   1990          14190 non-null  object
 6   1991          14190 non-null  object
 7   1992          14190 non-null  object
 8   1993          14190 non-null  object
 9   1994          14190 non-null  object
 10  1995          14190 non-null  object
 11  1996          14190 non-null  object
 12  1997          14190 non-null  object
 13  1998          14190 non-null  object
 14  1999          14190 non-null  object
 15  2000          14190 non-null  object
 16  2001          14190 non-null  object
 17  2002          14190 non-null  object
 18  2003          14190 non-null  object
 19  2004          14190 non-null  object
 20  2005          14190 non-null  object
 21  2006          14190 non-null  object
 22  2007          14190 non-null  object
 23  2008          14190 non-null  object
 24  2009          14190 non-null  object
 25  2010          14190 non-null  object
 26  2011          14190 non-null  object
 27  2012          14190 non-null  object
 28  2013          14190 non-null  object
 29  2014          14190 non-null  float64
 30  2015          14190 non-null  float64
 31  2016          14190 non-null  object
 32  2017          14190 non-null  object
 33  2018          14190 non-null  object
 34  2019          14190 non-null  object
 35  2020          14190 non-null  object
dtypes: float64(2), object(34)
memory usage: 3.9+ MB

In [8]:
imports[imports['Alpha_2_code'].isnull()==True]

Empty DataFrame
Columns: [freq, siec, partner, unit, Alpha_2_code, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
Index: []

[0 rows x 36 columns]

In [9]:
imports.describe()

               2014          2015
count  1.419000e+04  1.419000e+04
mean   1.498453e+05  1.588574e+05
std    4.092433e+06  4.341029e+06
min    0.000000e+00  0.000000e+00
25%    0.000000e+00  0.000000e+00
50%    0.000000e+00  0.000000e+00
75%    0.000000e+00  0.000000e+00
max    3.636869e+08  3.876386e+08

In [10]:
imports['siec'].unique()

array(['E7000', 'H8000'], dtype=object)

In [11]:
imports = imports.merge(countries, on='Alpha_2_code', how='left')
imports['EU?'] = imports['Alpha_2_code'].isin(EU_countries['Alpha_2_code'])
imports

,freq,siec,partner,unit,Alpha_2_code,1990,1991,1992,1993,1994,...,2014,2015,2016,2017,2018,2019,2020,Country,Alpha_3_code,EU?
0,A,E7000,AD,GWH,AL,0.000,0.000,0.000,0.000,0.000,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000,Albania,ALB,False
1,A,E7000,AD,GWH,AT,0.000,0.000,0.000,0.000,0.000,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000,Austria,AUT,True
2,A,E7000,AD,GWH,BA,:,:,:,:,:,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000,Bosnia and Herzegovina,BIH,False
3,A,E7000,AD,GWH,BE,0.000,0.000,0.000,0.000,0.000,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000,Belgium,BEL,True
4,A,E7000,AD,GWH,BG,0.000,0.000,0.000,0.000,0.000,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000,Bulgaria,BGR,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14185,A,H8000,ZA,TJ,SK,0.000,0.000,0.000,0.000,0.000,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000,Slovakia,SVK,True
14186,A,H8000,ZA,TJ,TR,0.000,0.000,0.000,0.000,0.000,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000,Turkey,TUR,False
14187,A,H8000,ZA,TJ,UA,0.000,0.000,0.000,0.000,0.000,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000,Ukraine,UKR,False
14188,A,H8000,ZA,TJ,UK,0.000,0.000,0.000,0.000,0.000,...,0.0,0.0,0.000,0.000,0.000,0.000,:,United Kingdom,GBR,False
14189,A,H8000,ZA,TJ,XK,:,:,:,:,:,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000,NaN,NaN,False

In [12]:
imports = imports[['freq', 'siec', 'partner', 'unit', 'Country', 'EU?', 'Alpha_2_code', 'Alpha_3_code', '1990', '1991',
       '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000',
       '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019', '2020']]
imports

,freq,siec,partner,unit,Country,EU?,Alpha_2_code,Alpha_3_code,1990,1991,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,A,E7000,AD,GWH,Albania,False,AL,ALB,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
1,A,E7000,AD,GWH,Austria,True,AT,AUT,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
2,A,E7000,AD,GWH,Bosnia and Herzegovina,False,BA,BIH,:,:,...,:,:,:,0.0,0.0,0.000,0.000,0.000,0.000,0.000
3,A,E7000,AD,GWH,Belgium,True,BE,BEL,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
4,A,E7000,AD,GWH,Bulgaria,True,BG,BGR,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14185,A,H8000,ZA,TJ,Slovakia,True,SK,SVK,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
14186,A,H8000,ZA,TJ,Turkey,False,TR,TUR,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
14187,A,H8000,ZA,TJ,Ukraine,False,UA,UKR,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
14188,A,H8000,ZA,TJ,United Kingdom,False,UK,GBR,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,:
14189,A,H8000,ZA,TJ,NaN,False,XK,NaN,:,:,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000

In [13]:
imports['Partner_country'] = ''
imports

/var/folders/w_/gltqg5356fv2085dww7dq0x40000gn/T/ipykernel_51070/3624793529.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imports['Partner_country'] = ''

,freq,siec,partner,unit,Country,EU?,Alpha_2_code,Alpha_3_code,1990,1991,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Partner_country
0,A,E7000,AD,GWH,Albania,False,AL,ALB,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,
1,A,E7000,AD,GWH,Austria,True,AT,AUT,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,
2,A,E7000,AD,GWH,Bosnia and Herzegovina,False,BA,BIH,:,:,...,:,:,0.0,0.0,0.000,0.000,0.000,0.000,0.000,
3,A,E7000,AD,GWH,Belgium,True,BE,BEL,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,
4,A,E7000,AD,GWH,Bulgaria,True,BG,BGR,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14185,A,H8000,ZA,TJ,Slovakia,True,SK,SVK,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,
14186,A,H8000,ZA,TJ,Turkey,False,TR,TUR,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,
14187,A,H8000,ZA,TJ,Ukraine,False,UA,UKR,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,
14188,A,H8000,ZA,TJ,United Kingdom,False,UK,GBR,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,:,
14189,A,H8000,ZA,TJ,NaN,False,XK,NaN,:,:,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,

In [14]:
imports.set_index('partner', inplace=True)
imports

,freq,siec,unit,Country,EU?,Alpha_2_code,Alpha_3_code,1990,1991,1992,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Partner_country
partner,,,,,,,,,,,,,,,,,,,,,
AD,A,E7000,GWH,Albania,False,AL,ALB,0.000,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,
AD,A,E7000,GWH,Austria,True,AT,AUT,0.000,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,
AD,A,E7000,GWH,Bosnia and Herzegovina,False,BA,BIH,:,:,:,...,:,:,0.0,0.0,0.000,0.000,0.000,0.000,0.000,
AD,A,E7000,GWH,Belgium,True,BE,BEL,0.000,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,
AD,A,E7000,GWH,Bulgaria,True,BG,BGR,0.000,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZA,A,H8000,TJ,Slovakia,True,SK,SVK,0.000,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,
ZA,A,H8000,TJ,Turkey,False,TR,TUR,0.000,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,
ZA,A,H8000,TJ,Ukraine,False,UA,UKR,0.000,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,
ZA,A,H8000,TJ,United Kingdom,False,UK,GBR,0.000,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,:,
ZA,A,H8000,TJ,NaN,False,XK,NaN,:,:,:,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,

In [18]:
countries.set_index('Alpha_2_code', inplace=True)
countries

                        Country Alpha_3_code
Alpha_2_code
AF                  Afghanistan          AFG
AL                      Albania          ALB
DZ                      Algeria          DZA
AS               American Samoa          ASM
AD                      Andorra          AND
...                         ...          ...
WF            Wallis and Futuna          WLF
EH               Western Sahara          ESH
YE                        Yemen          YEM
ZM                       Zambia          ZMB
ZW                     Zimbabwe          ZWE

[244 rows x 2 columns]

In [19]:
imports['Partner_country'] = imports.index.map(countries['Country'])
imports

,freq,siec,unit,Country,EU?,Alpha_2_code,Alpha_3_code,1990,1991,1992,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Partner_country
partner,,,,,,,,,,,,,,,,,,,,,
AD,A,E7000,GWH,Albania,False,AL,ALB,0.000,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,Andorra
AD,A,E7000,GWH,Austria,True,AT,AUT,0.000,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,Andorra
AD,A,E7000,GWH,Bosnia and Herzegovina,False,BA,BIH,:,:,:,...,:,:,0.0,0.0,0.000,0.000,0.000,0.000,0.000,Andorra
AD,A,E7000,GWH,Belgium,True,BE,BEL,0.000,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,Andorra
AD,A,E7000,GWH,Bulgaria,True,BG,BGR,0.000,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,Andorra
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZA,A,H8000,TJ,Slovakia,True,SK,SVK,0.000,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,South Africa
ZA,A,H8000,TJ,Turkey,False,TR,TUR,0.000,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,South Africa
ZA,A,H8000,TJ,Ukraine,False,UA,UKR,0.000,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,South Africa
ZA,A,H8000,TJ,United Kingdom,False,UK,GBR,0.000,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,:,South Africa
ZA,A,H8000,TJ,NaN,False,XK,NaN,:,:,:,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,South Africa

In [21]:
imports = imports[['freq', 'siec', 'Partner_country', 'unit', 'Country', 'EU?', 'Alpha_2_code', 'Alpha_3_code', '1990', '1991',
       '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000',
       '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019', '2020']]
imports

,freq,siec,Partner_country,unit,Country,EU?,Alpha_2_code,Alpha_3_code,1990,1991,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
partner,,,,,,,,,,,,,,,,,,,,,
AD,A,E7000,Andorra,GWH,Albania,False,AL,ALB,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
AD,A,E7000,Andorra,GWH,Austria,True,AT,AUT,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
AD,A,E7000,Andorra,GWH,Bosnia and Herzegovina,False,BA,BIH,:,:,...,:,:,:,0.0,0.0,0.000,0.000,0.000,0.000,0.000
AD,A,E7000,Andorra,GWH,Belgium,True,BE,BEL,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
AD,A,E7000,Andorra,GWH,Bulgaria,True,BG,BGR,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZA,A,H8000,South Africa,TJ,Slovakia,True,SK,SVK,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
ZA,A,H8000,South Africa,TJ,Turkey,False,TR,TUR,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
ZA,A,H8000,South Africa,TJ,Ukraine,False,UA,UKR,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
ZA,A,H8000,South Africa,TJ,United Kingdom,False,UK,GBR,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,:
ZA,A,H8000,South Africa,TJ,NaN,False,XK,NaN,:,:,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000