In [1]:
import numpy as np
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
from ipywidgets import widgets

In [2]:
import importlib
import os
os.chdir('/Users/pratimas/code/SinanSeyhan/green-electricity-project')
# trainer_module = importlib.import_module("green-electricity-project.trainer", package=True).Trainer()
production_module = importlib.import_module("green-electricity-project.production_viz", package=True)

In [3]:
production = production_module.EuElecProduction('raw_data/Production_Cleaned.csv')

In [4]:
production.get_data()

In [5]:
EU_production_annual = production.EU_production_annual()
EU_production_annual.head()

,freq,plants,operator,nrg_bal,siec,unit,Alpha_2_code,EU?,1990,1991,...,2013,2014,2015,2016,2017,2018,2019,2020,Country,Alpha_3_code
12815,A,TOTAL,TOTAL,GEP,TOTAL,GWH,AT,True,50294000,51483000,...,68356635,65438872,65299423,68308186,71324414,68617889,74234304,72566304,Austria,AUT
12817,A,TOTAL,TOTAL,GEP,TOTAL,GWH,BE,True,70923000,71936000,...,83497700,72545300,69708200,85607500,86616300,75036800,93639800,89389000,Belgium,BEL
12818,A,TOTAL,TOTAL,GEP,TOTAL,GWH,BG,True,42141000,40862000,...,43784000,47485000,49228000,45277000,45612786,46837670,44301773,40766577,Bulgaria,BGR
12819,A,TOTAL,TOTAL,GEP,TOTAL,GWH,CY,True,1974000,2077000,...,4290145,4350440,4534516,4887638,5004365,5060567,5141491,4849201,Cyprus,CYP
12820,A,TOTAL,TOTAL,GEP,TOTAL,GWH,CZ,True,62559000,60528000,...,86913000,86148000,83892000,83309000,87050264,88032022,87030605,81517186,Czechia,CZE

In [6]:
EU_Total_Elec_nrg_bal = production.EU_Total_Elec_nrg_bal()
EU_Total_Elec_nrg_bal

,EU?,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
nrg_bal,,,,,,,,,,,,,,,,,,,,,
GEP,27,2275281947,2316881435,2303092577,2303270775,2340447875,2409566590,2495065526,2506432756,2560071021,...,2942027712,2939143048,2920967479,2861344080,2906580318,2928142407,2960918324,2943002100,2907181919,2786007913
NEP,27,2132426596,2173244121,2164366067,2166376328,2201616751,2268070468,2349735060,2363865428,2416847448,...,2788540354,2787010758,2774246611,2716847701,2760960106,2784039893,2814920542,2802323762,2776012131,2664236011

In [7]:
EU_Total_Elec_nrg_bal.index

Index(['GEP', 'NEP'], dtype='object', name='nrg_bal')

In [8]:
# EU_Total_GEP = EU_Total_Elec_nrg_bal[EU_Total_Elec_nrg_bal.index.isin(['GEP'])]
# EU_Total_GEP

In [9]:
# EU_Total_NEP = EU_Total_Elec_nrg_bal.loc[[EU_Total_Elec_nrg_bal[['nrg_bal']]=='NEP']]
# EU_Total_NEP

In [10]:
# EU_Total_NEP = EU_Total_Elec_nrg_bal.loc[EU_Total_Elec_nrg_bal['nrg_bal']=='NEP']
# EU_Total_NEP

In [11]:
# EU_Total_NEP = [EU_Total_Elec_nrg_bal['nrg_bal']=='NEP']
# EU_Total_NEP

In [12]:
EU_Total_NEP = production.EU_Total_NEP()
EU_Total_NEP

,EU?,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
nrg_bal,,,,,,,,,,,,,,,,,,,,,
NEP,27,2132426596,2173244121,2164366067,2166376328,2201616751,2268070468,2349735060,2363865428,2416847448,...,2788540354,2787010758,2774246611,2716847701,2760960106,2784039893,2814920542,2802323762,2776012131,2664236011

In [13]:
EU_Total_GEP = production.EU_Total_GEP()
EU_Total_GEP

/Users/pratimas/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages/pandas/core/frame.py:9190: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Alpha_3_code_x', 'Country_x'} in the result is deprecated and will raise a MergeError in a future version.
  return merge(

,EU?,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
nrg_bal,,,,,,,,,,,,,,,,,,,,,
GEP,27,2275281947,2316881435,2303092577,2303270775,2340447875,2409566590,2495065526,2506432756,2560071021,...,2942027712,2939143048,2920967479,2861344080,2906580318,2928142407,2960918324,2943002100,2907181919,2786007913

In [14]:
production.GEP_vs_NEP()

AttributeError: 'NoneType' object has no attribute 'loc'

In [ ]:
production.EU_Elec_1990_to_2020_viz()

In [ ]:
EU_Total_Elec_quartiles = production.groupby_quartiles(EU_Total_GEP, '2020', quartiles_asc=True)
EU_Total_Elec_quartiles

In [ ]:
EU_Total_GEP = production.EU_Total_GEP()
EU_Total_GEP